<template>
    <div>
        <upload-document v-if="isMounted && canUpload"
                         :signers-prop="documentSigners"
                         :passed-token="token"
                         :lk-prop="lk_ID"
                         :key="lk_ID"
                         :transaction-i-d-prop="transactionID"
                         :upload-document-route-prop="uploadDocumentRoute"
                         :get-signature-route-prop="getFilestackSignatureRoute"
                         :get-required-signers-route="getRequiredSignersRoute"
                         :document-code="documentCode"
                         :search-person-route="searchPersonRoute"
                         :get-agent-info-route="getAgentInfoRoute"
                         :save-agent-data-route="saveAgentDataRoute"
                         :save-buyer-data-route="saveBuyerDataRoute"
                         :save-seller-data-route="saveSellerDataRoute">
        </upload-document >
        <div id="documents" class="tab-content">
            <div class="document-wrapper">
                <div class="docs-actions">
                    <div class="action-item docs-filler"></div>
                    <div v-if="!accordionView" class="action-item docs-search">
                        <form class="docs-search-wrap">
                            <input v-model="search" id="documentSearch" type="text" class="search-input" placeholder="Search for a Document">
                            <button type="submit" class="search-submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <div class="action-item docs-sorting">
                        <ul class="list-sort">
                            <li class="sort-item">
                                <a v-on:click="addDocument()" href="#">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                            </li>
                            <li class="sort-item">
                                <a v-on:click="changeView($event,false)" href="#">
                                    <i class="fas fa-sort-alpha-down"></i>
                                </a>
                            </li>
                            <li class="sort-item">
                                <a v-on:click="changeView($event,true)" href="#">
                                    <i class="fas fa-list-ul"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div  class="document-listing">
                    <div v-if="accordionView" class="accordions">
                        <div class="accordion-item">
                            <v-expansion-panel>
                                <v-expansion-panel-content
                                        v-for="(docsInCategory,key) in documentsByCategory"
                                        :key="key"
                                        expand-icon=""
                                >
                                    <template v-slot:header>
                                        <div class="accordion-trigger">
                                            <h4 v-if="docsInCategory[0].Category == 'oth'" class="acc-title">Other</h4>
                                            <h4 v-else class="acc-title">{{docsInCategory[0].DocumentCategory}}</h4>
                                        </div>
                                    </template>
                                    <div class="table-wrap">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Document Name</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="docs-item" v-for="(docs,i) in docsInCategory">
                                                    <td class="item">{{ docs.isIncluded == 1 ? 'Required' : 'Optional' }}</td>
                                                    <td class="text-xs-right item">
                                                        {{ docs.Description }}
                                                        <i v-if="(docs.UploadedDocuments.length > 0) && (countUploadedDocumentsVisible(docs.UploadedDocuments) > 0)" class="fas fa-file-alt teal file-quantity" v-on:click="openDocumentBag(docs.Code)"></i>
                                                    </td>
                                                    <td class="text-xs-right item">
                                                        <span v-if="docs.DateCompleted" class="green">Completed</span>
                                                        <span v-else class="red">Incomplete</span>
                                                    </td>
                                                    <td class="text-xs-right item">
                                                        <i style="color: #21d7d1; font-size: 20px;" class="fas fa-caret-down dropdown-toggle text-center" v-bind:id="'dropdownMenuButton'+docs.lk_ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                        <div class="dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+docs.lk_ID">
                                                            <div v-if="docs.Permissions.o || docs.Permissions.u" v-on:click="setupUploadDocument(docs)">
                                                                Upload Document
                                                            </div>
                                                            <div v-else class="deactivated-noevents">Upload</div>
                                                            <div v-if="(docs.Permissions && !isUploadOnly(docs.Permissions)) || (countUploadedDocumentsVisible(docs.UploadedDocuments) > 0)" v-on:click="openDocumentBag(docs.Code)">
                                                                View
                                                            </div>
                                                            <div v-else class="deactivated-noevents">View</div>
                                                            <div v-on:click="markDocumentAsCompleteIncomplete(docs.lk_ID)">{{docs.DateCompleted ? 'Mark as Incomplete' : 'Mark as Complete'}}</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </div>
                    <div v-else class="table-wrap">
                        <v-data-table
                                :headers="headers"
                                :items="documents"
                                :search="search"
                                class="elevation-1"
                                :pagination.sync="pagination"
                                :loading="loading"
                                :hide-actions="hideActions"
                        >
                            <template v-slot:items="docs">
                                <tr class="docs-item">
                                    <td class="item">{{ docs.item.isIncluded == 1 ? 'Required' : 'Optional' }}</td>
                                    <td class="text-xs-right item">
                                        {{ docs.item.Description }}
                                        <i v-if="(docs.item.UploadedDocuments.length > 0) && (countUploadedDocumentsVisible(docs.item.UploadedDocuments))" class="fas fa-file-alt teal file-quantity" v-on:click="openDocumentBag(docs.item.Code)"></i>
                                    </td>
                                    <td class="text-xs-right item">
                                        <span v-if="docs.item.DateCompleted" class="green">Completed</span>
                                        <span v-else class="red">Incomplete</span>
                                    </td>
                                    <td class="text-xs-right item">
                                        <i style="color: #21d7d1; font-size: 20px;" class="fas fa-caret-down dropdown-toggle text-center" v-bind:id="'dropdownMenuButton'+docs.item.lk_ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                        <div class="dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+docs.item.lk_ID">
                                            <div v-if="docs.item.Permissions.o || docs.item.Permissions.u" v-on:click="setupUploadDocument(docs.item)">
                                                Upload Document
                                            </div>
                                            <div v-else class="deactivated-noevents">Upload</div>
                                            <div v-if="(docs.item.Permissions && !isUploadOnly(docs.item.Permissions)) || (countUploadedDocumentsVisible(docs.item.UploadedDocuments) > 0)" v-on:click="openDocumentBag(docs.item.Code)">
                                                View
                                            </div>
                                            <div v-else class="deactivated-noevents">View</div>
                                            <div v-on:click="markDocumentAsCompleteIncomplete(docs.item.lk_ID)">{{docs.item.DateCompleted ? 'Mark as Incomplete' : 'Mark as Complete'}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </div>
                </div><!-- end document listing -->
            </div>
        </div>
    </div>
</template>

<script>
    import UploadDocument from './UploadDocument';
    export default {
        components: {
            UploadDocument,
        },
        props: {
            getDocumentsRoute :{
                String,
                default: null,
            },
            startProp: {
                String,
                default: 'Test',
            },
            token: {
                String,
                default: null,
            },
            transactionID: {
                String,
                default: null,
            },
            getRequiredSignersRoute: {
                String,
                default:null,
            },
            getFilestackSignatureRoute: {
                String,
                default: null,
            },
            uploadDocumentRoute: {
                String,
                default: null,
            },
            openDocumentBagRoute: {
                String,
                default: null,
            },
            markDocumentCompleteIncompleteRoute: {
                String,
                default: null,
            },
            searchPersonRoute: {
                String,
                default: null,
            },
            getAgentInfoRoute: {
                String,
                default: null,
            },
            saveAgentDataRoute: {
                String,
                default: null,
            },
            saveBuyerDataRoute: {
                String,
                default: null,
            },
            saveSellerDataRoute: {
                String,
                default: null,
            },
        },
        data(){
            return {
                COMPONENT_NAME: 'Documents',
                booleanTrue: true,
                accordionView: false,
                documentSigners:null,
                canUpload: false,
                documentCode: null,
                lk_ID: 0,
                loading: true,
                hideActions: true,
                pagination: {
                    'sortBy': 'column2',
                    'alphabetical':'true',
                    'rowsPerPage': -1
                },
                search: '',
                documents: [],
                documentsByCategory: [],
                isMounted: false,
                userID: 0,
                headers: [
                    {
                        text: '',
                        sortable: true,
                        value: 'isIncluded'
                    },
                    {
                        text: 'Document Name',
                        sortable: true,
                        value: 'Description'
                    },
                    {
                        text: 'Status',
                        sortable: true,
                        value: 'DateCompleted'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                    },
                ],
            }
        },
        methods: {
            addDocument(){
                let vueObject = this;
                let saveAdHocDocumentRoute = correctVuexRouteURL(vueObject.$store.getters.routeName('saveAdHocDocument'));
                if(!saveAdHocDocumentRoute) genericError('Route not found. Error code: add-ah-doc-001');

                let html = '' +
                    '<div class="row" id="addDocumentModal">' +
                    '    <div class="col-lg-12">' +
                    '        <h4>Description</h4>' +
                    '        <input type="text"  name="Description">' +
                    '    </div>' +
                    '    <div class="col-lg-12">' +
                    '        <h4>Is this document required?</h4>' +
                    '        <label>No</label>' +
                    '        <input type="radio" name="isRequired" value="0">' +
                    '        <label>Yes</label>' +
                    '        <input type="radio" name="isRequired" value="1">' +
                    '    </div>' +
                    '    <div class="row" style="margin: 0 auto;" >' +
                    '        <div class="col-md-6">' +
                    '             <button id="saveDocument" class="btn-v2 btn-teal">Save</button>' +
                    '        </div>' +
                    '        <div class="col-md-6">' +
                    '             <button id="cancelDocument" class="btn-v2 btn-red">Cancel</button>' +
                    '        </div>' +
                    '    </div>' +
                    '</div>' +
                    '';
                Swal2({
                    title: 'Add Document',
                    html: html,
                    showConfirmButton: false,
                    showCloseButton: true,
                    animation:false,
                    customClass: 'animated fadeInDown faster',
                    onBeforeOpen: function(){
                        const content   = Swal2.getContent();
                        const $s        = content.querySelector.bind(content);
                        let save        = $s('#saveDocument');
                        let cancel      = $s('#cancelDocument');

                        save.addEventListener('click', function () {
                            let description = $('input[name="Description"]').val();
                            let isIncluded  = $('input[name="isRequired"]:checked').val();
                            vueObject.$http.post(saveAdHocDocumentRoute, {
                                _token: vueObject.token,
                                Transactions_ID: vueObject.transactionID,
                                isIncluded: isIncluded,
                                Description: description,
                            }).then((r) => {
                                let status = r.body.status;
                                if(status == 'success')
                                {
                                    Swal2({
                                        title: 'Success',
                                        text: r.body.message,
                                        type: 'success',
                                        timer: 1000,
                                        showConfirmButton: false,
                                    });
                                    vueObject.getDocuments();
                                }
                                else if (status == 'fail')
                                {
                                    genericError(r.body.message);
                                }
                                else
                                {
                                    genericError();
                                }
                            });
                        });

                        cancel.addEventListener('click', function () {
                            Swal2.close();
                        });
                    },
                });
            },
            countUploadedDocumentsVisible(uploadedDocuments){
                let visibleCount = 0;
                $.each(uploadedDocuments, (i,obj) => {
                    if(uploadedDocuments.hasOwnProperty(i))
                    {
                        if(obj['isVisible'] == true)
                        {
                            visibleCount++;
                        }
                        else if(parseInt(obj['UploadedByUsers_ID']) > 0)
                        {
                            if(obj['UploadedByUsers_ID'] == this.userID)
                            {
                                visibleCount++;
                            }
                        }
                    }
                });
                return visibleCount;
            },
            markDocumentAsCompleteIncomplete(lk_ID){
                lk_ID = parseInt(lk_ID);
                this.$http.post(this.markDocumentCompleteIncompleteRoute, {
                    _token: this.token,
                    lk_ID: lk_ID
                }).then((r)=>{
                    if(r.body.status == 'success')
                    {
                        Swal2({
                            toast: true,
                            text: r.body.message,
                            type: 'success',
                            showConfirmButton: false,
                            timer: 2000,
                            position: 'top-end',
                        }).then(()=>{
                            this.getDocuments();
                        });
                    }
                    else if (r.body.status == 'fail')
                    {
                        genericError(r.body.message);
                    }
                    else
                    {
                        genericError();
                    }
                });
            },
            changeView(e,isAccordion){
                e.preventDefault();
                this.accordionView = isAccordion;
            },
            isUploadOnly(permissions){
                let uploadOnly = false;
                if(permissions)
                {
                    if(permissions.hasOwnProperty('u') && Object.keys(permissions).length == 1) uploadOnly = true;
                }
                return uploadOnly;
            },
            getDocuments(){
                console.log(this.getDocumentsRoute);
                this.$http.post(this.getDocumentsRoute, {
                    _token:this.token,
                    transactionID: this.transactionID
                }).then((r)=>{
                    this.documents              = r.body.documents;
                    this.userID                 = r.body.userID;
                    this.documentsByCategory    = r.body.documentsByCategory;
                    this.documentSigners        = r.body.signers;
                    this.isMounted              = true;
                    this.loading                = false;
                    console.log({
                        documents: this.documents,
                        documentsByCategory: this.documentsByCategory,
                        userID: this.userID,
                    });
                });
            },
            setupUploadDocument(thisDoc){
                this.canUpload      = true;
                this.documentCode   = thisDoc.Code;
                this.lk_ID          = thisDoc.lk_ID;
                let vueObject       = this;
                setTimeout(function(){
                    vueObject.toggleUploadDocumentModal();
                },500);
            },
            toggleUploadDocumentModal(){
                $('.uploadDocumentModal').modal();
            },
            openDocumentBag(documentCode){
                window.location.href= this.openDocumentBagRoute.replace(':dc', documentCode);
            }
        },
        watch: {

        },
        mounted(){
            this.getDocuments();
            this.$root.$on('updateDocuments', data => {
                this.getDocuments();
            });
        }
    }
</script>

<style lang="scss" scoped>
    .v-expansion-panel{
        box-shadow:none !important;
    }
    .file-quantity{
        cursor: pointer;
    }
</style>