<template>
    <div class="row wholeArea">
        <div class="propertyAddressArea col-lg-12 col-md-12 col-sm-12">
            <property
                    :transaction-i-d-prop="transactionID"
                    :get-property-route="getPropertyRoute"
                    :address-container-class="'col-sm-5 col-md-5 col-lg-5'"
                    :main-container-style="'margin-top:10px;margin-left: -100px;'"
            ></property>
        </div>
        <div class="documentNameArea col-lg-12 col-md-12 col-sm-12"><h2>{{documentName}}</h2></div>
        <upload-document v-if="documentSigners"
                 :signers-prop="documentSigners"
                 :key="number"
                 :passed-token="token"
                 :lk-prop="lk_ID"
                 :transaction-i-d-prop="transactionID"
                 :upload-document-route-prop="uploadDocumentRoute"
                 :get-signature-route-prop="sigRoute"
                 :transaction-home-route-prop="transactionHomeRoute"
                 :get-required-signers-route="getRequiredSignersRoute"
                 :document-code="documentCode"
                 :search-person-route="searchPersonRoute"
                 :get-agent-info-route="getAgentInfoRoute"
                 :save-agent-data-route="saveAgentDataRoute"
                 :save-buyer-data-route="saveBuyerDataRoute"
                 :save-seller-data-route="saveSellerDataRoute">
        </upload-document >
        <div class="col-sm-12 col-md-8 col-lg-8 documentArea">
            <div class="col-lg-12 col-md-12 col-sm-12 documentViewArea">
                <individual-document-view
                        :fetch-document-route-prop="fetchDocumentRoute"
                        :passed-token="token"
                        :bag-link-i-d-prop="number"
                        :key="number">
                </individual-document-view>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 documentListViewArea">
                <document-bag-list-view
                        :passed-token="token"
                        :documents-in-bag-route="documentBagRoute"
                        :transaction-i-d-prop="transactionID"
                        :document-code-prop="documentCode" >

                </document-bag-list-view>
            </div>
        </div>
        <div class="col-md-1 col-lg-1 gap"></div>
        <div class="col-sm-12 col-md-3 col-lg-3 documentOptionsArea">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 documentOptionsTopSection">
                    <div class="row">
                        <!--<div class="col-sm-12 col-md-12 col-lg-12 gray optionsItem"><button class="btn-teal btn-v2" v-on:click="viewDocumentPermissionTable">Document Permissions</button></div>-->
                        <div v-if="canShare" class="col-sm-12 col-md-12 col-lg-12 teal optionsItem"><button class="btn-teal btn-v2" v-on:click="viewDocumentBagShare">Share Document</button></div>
                        <div v-if="permissionsObject.o || permissionsObject.u" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-file-upload"></i></div>
                        <div v-else class="col-sm-1 col-md-1 col-lg-1 gray optionsItem"><i class="fas fa-file-upload"></i></div>
                        <div v-if="permissionsObject.o || permissionsObject.u" class="col-sm-10 col-md-10 col-lg-10 teal optionsItem optionsClick" v-on:click="toggleUploadDocument">Upload Document</div>
                        <div v-else class="col-sm-10 col-md-10 col-lg-10 gray optionsItem optionsClick">Upload Document</div>
                        <div v-if="permissionsObject.o || permissionsObject.e || userID == uploadedByUsers_ID" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-copy"></i></div>
                        <div v-else class="col-sm-1 col-md-1 col-lg-1 gray optionsItem"><i class="fas fa-copy"></i></div>
                        <div v-if="permissionsObject.o || permissionsObject.e || userID == uploadedByUsers_ID" class="col-sm-10 col-md-10 col-lg-10 teal optionsItem optionsClick">Split Document</div>
                        <div v-else class="col-sm-10 col-md-10 col-lg-10 gray optionsItem optionsClick">Split Document</div>
                        <div v-if="permissionsObject.e || permissionsObject.o || userID == uploadedByUsers_ID" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-eraser"></i></div>
                        <div v-else class="col-sm-1 col-md-1 col-lg-1 gray optionsItem"><i class="fas fa-eraser"></i></div>
                        <div v-if="permissionsObject.e || permissionsObject.o || userID == uploadedByUsers_ID" class="col-sm-10 col-md-10 col-lg-10 teal optionsItem optionsClick">Remove Pages</div>
                        <div v-else class="col-sm-10 col-md-10 col-lg-10 gray optionsItem optionsClick">Remove Pages</div>
                        <div v-if="number > 0 && permissionsObject.s" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-pen-fancy"></i></div>
                        <div v-else class="col-sm-1 col-md-1 col-lg-1 gray optionsItem"><i class="fas fa-pen-fancy"></i></div>
                        <div v-if="number > 0 && permissionsObject.s" class="col-sm-10 col-md-10 col-lg-10 teal optionsItem optionsClick" v-on:click="signDocument">Sign Document</div>
                        <div v-else class="col-sm-10 col-md-10 col-lg-10 gray optionsItem optionsClick">Sign Document</div>
                        <div v-if="DateApproved && isComplete" class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-check-circle"></i></div>
                        <div v-else class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="far fa-check-circle"></i></div>
                        <div v-on:click="markBagDocumentAsCompleteIncomplete(number)" class="col-sm-10 col-md-10 col-lg-10 teal optionsItem optionsClick">{{DateApproved && isComplete ? 'Completed':'Mark as Complete'}}</div>
                        <div class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-edit"></i></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 teal optionsItem optionsClick" v-on:click="viewSummary">View Transaction Summary</div>
                        <div class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-edit"></i></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 teal optionsItem optionsClick" v-on:click="editTransaction">Edit Transaction</div>
                        <div class="col-sm-1 col-md-1 col-lg-1 teal optionsItem"><i class="fas fa-arrow-left"></i></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 teal optionsItem optionsClick" v-on:click="returnToAllDocuments">View All Documents</div>
                    </div>
                    <div class="divisor"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 documentOptionsBottomSection">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 optionsItem" v-if="uploadedByName">
                            <h4>Uploaded By</h4>
                            <div class="row">
                                <div class="optionsItemDetails">
                                    <img v-if="uploadedByImageURL" class="avatarImage" :src="uploadedByImageURL" width="30" height="30">
                                    <span>{{uploadedByName}}</span>
                                </div>
                                <div class="optionsItemDetails"><date :date-time-prop="uploadTime"></date></div>
                            </div>
                        </div>
                        <div v-if="number > 0" class="col-sm-12 col-md-12 col-lg-12 optionsItem">
                            <h4>Signed By</h4>
                            <div v-for="(signer,key) in documentSigners">
                                <div v-if="key == 'b' && signer" class="signedByDetails">
                                    <h3>Buyer(s)</h3>
                                    <ul>
                                        <li v-if="p" v-for="p in signer" >
                                            <div class="" v-if="p.Signed">
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i class="fas fa-check-square teal" v-on:click="signerAddRemove('b',p.ID)" v-else-if="p.Signed == true"></i>
                                                <img v-if="p !== undefined && p.Icon" :src="p.Icon" class="avatarImage" />
                                                <span>{{p.NameFull || p.NameFirst + ' ' + p.NameLast}}</span>
                                            </div>
                                            <div v-else>
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i v-else class="far fa-square teal" v-on:click="signerAddRemove('b',p.ID)"></i>
                                                <img v-if="p !== undefined && p.Icon" :src="p.Icon" class="avatarImage" />
                                                <span>{{p.NameFull || p.NameFirst + ' ' + p.NameLast}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div v-else-if="key == 'ba' && signer" class="signedByDetails">
                                    <h3>Buyer's Agent</h3>
                                    <ul>
                                        <li v-if="signer[0]">
                                            <div class="">
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i v-else-if="signer[0].Signed == true" v-on:click="signerAddRemove('ba',signer[0].ID)" class="fas fa-check-square teal"></i>
                                                <i v-else v-on:click="signerAddRemove('ba',signer[0].ID)" class="far fa-square teal"></i>
                                                <img v-if="signer[0].Icon" :src="signer[0].Icon" class="avatarImage" />
                                                <span>{{signer[0].NameFull || signer[0].NameFirst + ' ' + signer[0].NameLast }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div v-else-if="key == 's' && signer" class="signedByDetails">
                                    <h3>Seller(s)</h3>
                                    <ul>
                                        <li v-if="p" v-for="p in signer" >
                                            <div class="" v-if="p.Signed">
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i class="fas fa-check-square teal" v-on:click="signerAddRemove('s',p.ID)" v-else-if="p.Signed == true"></i>
                                                <img v-if="p !== undefined && p.Icon" :src="p.Icon" class="avatarImage" />
                                                <span>{{p.NameFull || p.NameFirst + ' ' + p.NameLast}}</span>
                                            </div>
                                            <div v-else>
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i v-else v-on:click="signerAddRemove('s',p.ID)" class="far fa-square teal"></i>
                                                <img v-if="p !== undefined && p.Icon" :src="p.Icon" class="avatarImage" />
                                                <span>{{p.NameFull || p.NameFirst + ' ' + p.NameLast}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div v-else-if="key == 'sa' && signer" class="signedByDetails">
                                    <h3>Seller's Agent</h3>
                                    <ul>
                                        <li v-if="signer[0]">
                                            <div class="">
                                                <i v-if="!signersEnabled" class="fas fa-square deactivated-noevents"></i>
                                                <i v-else-if="signer[0].Signed == true" v-on:click="signerAddRemove('sa',signer[0].ID)" class="fas fa-check-square teal"></i>
                                                <i v-else v-on:click="signerAddRemove('sa',signer[0].ID)" class="far fa-square teal"></i>
                                                <img v-if="signer[0].Icon" :src="signer[0].Icon" class="avatarImage" />
                                                <span>{{signer[0].NameFull || signer[0].NameFirst + ' ' + signer[0].NameLast }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- End of Signed By Section -->
                    </div>
                </div> <!-- End of Bottom Section -->
            </div>
        </div>
    </div>
</template>

<script>
    import DocumentBagListView from "./DocumentBagListView";
    import IndividualDocumentView from "./IndividualDocumentView";
    import Date from './Date';
    import UploadDocument from './UploadDocument';
    import Property from './Property';

    export default {
        components: {
            DocumentBagListView,
            IndividualDocumentView,
            Date,
            UploadDocument,
            Property,
        },
        props:{
            documentPermissionRoute: {
                default: null,
                String
            },
            reviewDocRouteProp: {
                default: null,
                String
            },
            fetchDocumentRouteProp: {
                default: null,
                String
            },
            getRequiredSignersRoute:{
                String,
                default: null,
            },
            passedToken: {
                default: null,
                String
            },
            documentBagRouteProp: {
                default: null,
                String
            },
            transactionIDProp: {
                default: 0,
            },
            documentCodeProp: {
                default: 0,
            },
            uploadDocumentRouteProp: {
                default: null,
                String
            },
            getPropertyRouteProp: {
                default: null,
                String
            },
            signatureIntegrationProp:{
                default: null,
                String
            },
            signatureGatewayProp : {
                default: null,
                String
            },
            sigRouteProp : {
                String
            },
            allDocumentsRouteProp :{
                String,
                default: null,
            },
            transactionHomeRouteProp :{
                String,
                default: null,
            },
            transactionSummaryRoute :{
                String,
                default: null,
            },
            documentBagShareRoute:{
                String,
                default: null,
            },
            markBagDocumentCompleteIncompleteRoute: {
                String,
                default: null,
            },
            permissions: {
                default: {},
            },
            searchPersonRoute: {
                String,
                default: null,
            },
            getAgentInfoRoute: {
                String,
                default: null,
            },
            saveAgentDataRoute: {
                String,
                default: null,
            },
            saveBuyerDataRoute: {
                String,
                default: null,
            },
            saveSellerDataRoute: {
                String,
                default: null,
            },
            signerAddRemoveRoute: {
                String,
                default: null,
            },
            saveEverSignRoute: {
                String,
                default: null,
            },
            everSignRoute: {
                String,
                default: null,
            },
            userID: {
                default: 0
            }
        },
        data(){
            return{
                COMPONENT_NAME: 'DocumentBagView',
                fetchDocumentRoute: this.fetchDocumentRouteProp,
                documentBagRoute: this.documentBagRouteProp,
                uploadDocumentRoute: this.uploadDocumentRouteProp,
                getPropertyRoute: this.getPropertyRouteProp,
                signatureIntegrationRoute: this.signatureIntegrationProp,
                signatureGatewayRoute: this.signatureGatewayProp,
                sigRoute: this.sigRouteProp,
                allDocumentsRoute: this.allDocumentsRouteProp,
                transactionHomeRoute: this.transactionHomeRouteProp,
                getSignersRoute: this.getSignersRouteProp,
                token: this.passedToken,
                number: 0, //this is bagID
                bagKey: -1,
                transactionID: this.transactionIDProp,
                documentCode: this.documentCodeProp,
                documentName: null,
                documentSigners: null,
                uploadedByName: '',
                uploadedByImageURL: null,
                uploadedByUsers_ID: null, //from child DocumentBagListView
                uploadTime: '',
                showUploadDocumentModal: false,
                lk_ID: null,
                bagIDString: null,
                permissionsObject: {},
                canShare: false, ////from child DocumentBagListView
                DateApproved: null, //from child DocumentBagListView
                isComplete: 0, //from child DocumentBagListView
                signersEnabled: true,
            }
        },
        watch: {
            lk_ID: {
                handler(val){

                },
            },
            number:{
                handler(val){

                },
            },
            documentSigners: {
                handler(val){
                    this.documentSigners = val;
                },
            },
        },
        methods: {
            sign(signatureAPI, embeddedSigningURL = null){
                Swal2({
                    text: 'Loading...',
                    showConfirmButton: false,
                    allowOutsideClick:false,
                    onBeforeOpen: () => {
                        Swal2.showLoading();
                    },
                });
                let vueObject = this;
                if(signatureAPI == 'EverSign' && embeddedSigningURL)
                {
                    Swal2.hideLoading();
                    let html = '' +
                        '<div style="padding: 20px;">' +
                        '    <div id="everSign"></div>' +
                        '</div>';
                    Swal2({
                        html: html,
                        grow: 'fullscreen',
                        animation: false,
                        customClass: 'animate fadeInDown faster',
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        onBeforeOpen: () => {
                            Swal2.showLoading();
                            eversign.open({
                                url: embeddedSigningURL,
                                containerID: 'everSign',
                                width: '100%',
                                height: 600,
                                events: {
                                    loaded: function () {
                                        Swal2.hideLoading();
                                    },
                                    signed: function () {
                                        vueObject.saveEverSignSignedDocument();
                                    },
                                    declined: function () {
                                        Swal2.close();
                                        vueObject.cancelEverSignDocument();
                                    },
                                    error: function () {
                                        vueObject.cancelEverSignDocument();
                                        window.location += '#oes';
                                        location.reload();
                                    }
                                }
                            });
                        }
                    });
                }
                else
                {
                    let sRoute  = vueObject.signatureGatewayRoute;
                    sRoute      = sRoute.replace(':bID', vueObject.bagIDString);
                    sRoute      = sRoute.replace(':sigAPI', signatureAPI);
                    vueObject.$http.get(sRoute).then((response) => {
                        switch (signatureAPI)
                        {
                            case 'DocuSign':
                                window.location.href = "https://account.docusign.com/oauth/auth?response_type=code&scope=signature&client_id=62a70dcd-a5a8-4886-aa27-5f03c8d713ee&redirect_uri="+vueObject.signatureIntegrationRoute;
                                break;
                            case 'EverSign':
                                vueObject.$http.get(vueObject.everSignRoute).then((r) => {
                                    if(r.body.status == 'success')
                                    {
                                        Swal2.hideLoading();
                                        let embedded_signing_url = r.body.signing_url;
                                        let html = '' +
                                            '<div style="padding: 20px;">' +
                                            '    <div id="everSign"></div>' +
                                            '</div>';
                                        Swal2({
                                            html: html,
                                            grow: 'fullscreen',
                                            animation: false,
                                            customClass: 'animate fadeInDown faster',
                                            showConfirmButton: false,
                                            allowOutsideClick: false,
                                            onBeforeOpen: () => {
                                                Swal2.showLoading();
                                                eversign.open({
                                                    url: embedded_signing_url,
                                                    containerID: 'everSign',
                                                    width: '100%',
                                                    height: 600,
                                                    events: {
                                                        loaded: function () {
                                                            Swal2.hideLoading();
                                                        },
                                                        signed: function () {
                                                            vueObject.saveEverSignSignedDocument();
                                                        },
                                                        declined: function () {
                                                            Swal2.close();
                                                            vueObject.cancelEverSignDocument();
                                                        },
                                                        error: function () {
                                                            location.reload();
                                                        }
                                                    }
                                                });
                                            }
                                        });
                                    }
                                    else if(r.body.status == 'fail')
                                    {
                                        genericError(r.body.message);
                                    }
                                    else
                                    {
                                        genericError();
                                    }
                                });
                                break;
                            default:
                                window.location.href = "https://account.docusign.com/oauth/auth?response_type=code&scope=signature&client_id=62a70dcd-a5a8-4886-aa27-5f03c8d713ee&redirect_uri="+vueObject.signatureIntegrationRoute;
                                break;
                        }
                    });
                }
            },
            saveEverSignSignedDocument(){
                let vueObject = this;
                Swal2.close();
                Swal2({
                    title: 'Saving Document...',
                    text: 'Please be patient, this may take a few minutes.',
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        Swal2.showLoading();
                    },
                });
                vueObject.$http.get(vueObject.saveEverSignRoute).then((r)=>{
                    if(r.body.status == 'success')
                    {
                        Swal2({
                            title: 'Success',
                            type: 'success',
                            text: r.message,
                            showConfirmButton:false,
                            timer: 3000,
                            allowOutsideClick:false,
                        });
                        if(window.location.href.indexOf('#') !== -1)
                        {
                            window.location += 'show'+r.body.bagID;
                        }
                        else
                        {
                            window.location += '#show'+r.body.bagID;
                        }
                        location.reload();
                    }
                    else if(r.body.status == 'fail')
                    {
                        genericError(r.body.message);
                    }
                    else
                    {
                        genericError();
                    }
                });
            },
            cancelEverSignDocument(){
                let cancelEverSignDocumentRoute = correctVuexRouteURL(this.$store.getters.routeName('cancelEverSignDocument'));
                if(!cancelEverSignDocumentRoute) genericError('Route not found. Error code: c-es-doc-001');
                this.$http.post(cancelEverSignDocumentRoute,{
                    transactionID: this.transactionID,
                    documentCode: this.documentCode,
                    bagIDString: this.bagIDString,
                    _token:this.passedToken,
                }).then((r) => {
                    if(r.body.status == 'success')
                    {
                        genericSuccess('Document successfully canceled.',0);
                        location.reload();
                    }
                    else if (r.body.status == 'fail')
                    {
                        genericError(r.body.message);
                    }
                    else
                    {
                        genericError();
                    }
                });
            },
            signerAddRemove(role,signerID){
                this.signersEnabled = false;
                let vueObject = this;
                vueObject.$http.post(vueObject.signerAddRemoveRoute, {
                    ID      : signerID,
                    role    : role,
                    _token  : vueObject.passedToken,
                    bagID   : vueObject.number,
                }).then((r) => {
                    if(r.body.status == 'success')
                    {
                        Swal2({
                            toast: true,
                            timer: 2000,
                            type: 'success',
                            text: r.body.message,
                            showConfirmButton: false,
                            position: 'top-end',
                        });
                        vueObject.$root.$emit('getBagListDocuments', vueObject.bagKey);
                    }
                    else
                    {
                        if(r.body.status == 'fail')
                        {
                            Swal2({
                                title: 'Error',
                                type: 'error',
                                text: r.body.message,
                                timer: 3000,
                            });
                        }
                        else
                        {
                            genericError();
                        }
                    }
                });
            },
            markBagDocumentAsCompleteIncomplete(lk_ID){
                lk_ID = parseInt(lk_ID);
                let vueObject = this;
                this.$http.post(this.markBagDocumentCompleteIncompleteRoute, {
                    _token: this.passedToken,
                    lk_ID: lk_ID,
                }).then((r)=>{
                    if(r.body.status == 'success')
                    {
                        Swal2({
                            toast: true,
                            text: r.body.message,
                            type: 'success',
                            showConfirmButton: false,
                            timer: 2000,
                            position: 'top-end',
                        }).then(()=>{
                            vueObject.$root.$emit('getBagListDocuments', vueObject.bagKey)
                        });
                    }
                    else if (r.body.status == 'fail')
                    {
                        genericError(r.body.message);
                    }
                    else
                    {
                        genericError();
                    }
                });
            },
            viewDocumentBagShare(){
                window.location.href = this.documentBagShareRoute + '/' + this.number;
            },
            viewDocumentPermissionTable(){
                window.location.href = this.documentPermissionRoute;
            },
            viewSummary(){
                window.location.href = this.transactionSummaryRoute;
            },
            toggleUploadDocument(){
                $('.uploadDocumentModal').modal();
            },
            returnToAllDocuments(){
                window.location.href = this.allDocumentsRoute;
            },
            editTransaction(){
                window.location.href = this.transactionHomeRoute;
            },
            signDocument(){
                Swal2({
                    text: 'Loading...',
                    onBeforeOpen: () => {
                        Swal2.showLoading();
                    },
                });
                let checkDocumentExistenceRoute = correctVuexRouteURL(this.$store.getters.routeName('checkDocumentExistence'));
                if(!checkDocumentExistenceRoute) genericError('Route not found. Error code: check-doc-ex-001');
                /**
                 * If you want to add more files, add their numbers to bagIDString and delimit with (.)
                 * Example: 12.13 will fetch bag IDs 12 and 13.
                 * For now we do not have a UI or a determination on what that functionality will look like.
                 **/
                this.bagIDString = this.number;
                this.$http.post(checkDocumentExistenceRoute,{
                    documentCode: this.documentCode,
                    bagIDString: this.bagIDString,
                    transactionID: this.transactionID,
                    _token: this.passedToken,
                }).then((r) => {
                    let continuePreviousDocument = false;
                    let embeddedSigningURL = null;
                    if(r.body.status == 'found')
                    {
                        continuePreviousDocument = true;
                        embeddedSigningURL = r.body.signingURL;
                    }
                    Swal2.hideLoading();
                    let vueObject = this;
                    let html =
                        '<div class="row">' +
                        '    <div class="col-xs-12 col-sm-6">' +
                        '        <button id="docuSignButton" class="btn-v2 btn-teal">Use your DocuSign</button>' +
                        '    </div>' +
                        '    <div class="col-xs-12 col-sm-6">' +
                        '        <button id="everSignButton" class="btn-v2 btn-teal">Sign with Offer To Close</button>' +
                        '    </div>' +
                        '</div>';

                    Swal2({
                        title: 'Please Select a Signature Platform',
                        html: html,
                        showCloseButton: true,
                        showCancelButton: true,
                        showConfirmButton: false,
                        animation: false,
                        customClass: 'animated fadeInDown faster',
                        onBeforeOpen: () => {
                            $('#docuSignButton').off().on('click',function () {
                                vueObject.sign('DocuSign');
                            });

                            $('#everSignButton').off().on('click',function () {
                                if(continuePreviousDocument) vueObject.sign('EverSign', embeddedSigningURL);
                                else vueObject.sign('EverSign')
                            });
                        },
                    });
                });
            },
        },
        ready(){
            this.fetchDocumentRoute = this.fetchDocumentRouteProp;
            this.documentBagRoute = this.documentBagRouteProp;
            this.uploadDocumentRoute = this.uploadDocumentRouteProp;
            this.getPropertyRoute = this.getPropertyRouteProp;
            this.signatureIntegrationRoute = this.signatureIntegrationProp;
            this.signatureGatewayRoute = this.signatureGatewayProp;
            this.sigRoute = this.sigRouteProp;
            this.allDocumentsRoute = this.allDocumentsRouteProp;
            this.transactionHomeRoute = this.transactionHomeRouteProp;
            this.token = this.passedToken;
        },
        mounted(){
            /**
             * This is passed in as a prop through the bagView.blade.php file
             * so it must be json_encoded server side and then decoded here.
             */
            this.permissionsObject = JSON.parse(this.permissions);
            this.$root.$on('enableSigners', ()=>{
                this.signersEnabled = true;
            });

            this.$root.$on('openSignatureModal', () => {
                if(this.permissionsObject.s) this.signDocument();
                else genericWarning('You do not have permission to sign this document.');
            });
        },
    }
</script>

<style scoped>
    .wholeArea{
        width: 80%;
        margin: 0 auto;
    }
    .documentArea{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background:white;
        padding:20px;
    }
    .documentNameArea{

    }
    .documentViewArea{
        border-top: solid #eeeeee 30px;
        border-bottom: solid #eeeeee 30px;
        border-left:solid #eeeeee 100px;
        border-right:solid #eeeeee 100px;
    }
    .belowDocumentViewInfo{
        background: #eeeeee;
        padding:20px;
    }

    .documentOptionsArea{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background:white;
        padding:20px;
    }

    .documentListViewArea{
        margin-top: 50px;
        
    }

    .optionsItem{
        margin-top: 16px;
        display:inline-block;
        margin-left: 5px;
    }
    
    .optionsItem h4{
        color: #cacacb;
    }

    .optionsItemDetails{
        margin-left:19px;
        margin-top: 7px;
    }

    .divisor{
        width: 80%;
        margin: 0 auto;
        height: 3px;
        border-bottom: solid 1px #ccc;
        margin-top:20px;
    }

    .avatarImage{
        border-radius: 50%;
        vertical-align: middle;
        height: 30px;
        width: 30px;
    }

    .signedByDetails ul li{
        list-style: none;
    }

    .signedByDetails h3{
        font-size: 15px;
    }

    .signedByDetails p{
        font-size: 12px;
        margin-left: 10px;
    }

    .optionsClick{
        cursor: pointer;
    }
    
    .fa-check-square, .fa-square{
        cursor: pointer;
    }


</style>