<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3 search-bar">
                    <input v-model="search" type="text" placeholder="Search Transaction" class="search-text" id="search_table">
                    <span class="otc-red" style="position: absolute; top: 40%; left: -1%; font-size: 24px; "><i class="fas fa-map-marker-alt"></i></span>
                </div>
            </div>
        </div>
        <v-container>
            <div id="filterContainer">
                <img
                        class="dropdown-toggle img-responsive"
                        id="dropdownFilter"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        style="display: inline-block"
                        :src="getHostURL() + 'images/icons/filter1.png'"
                        width="50">
                <div class="dropdown-menu filterDropdown" aria-labelledby="dropdownFilter">
                    <p>Add Filter</p>
                    <hr>
                    <ul class="filters">
                        <li data-type="Status" data-filter="open">Open</li>
                        <li data-type="Status" data-filter="draft">Draft</li>
                        <li data-type="Status" data-filter="closed">Closed</li>
                        <li data-type="Status" data-filter="canceled">Canceled</li>
                    </ul>
                </div>
            </div>
            <v-data-iterator
                :items="filteredItems"
                content-tag="v-layout"
                content-class="transactionsIterator"
                :search="search"
                row
                wrap
                :pagination.sync="pagination"
                :hide-actions="booleanTrue"
                :key="key"
            >
                <template v-slot:item="props">
                    <v-flex
                            xs12
                            sm6
                            md4
                            lg4
                    >
                        <v-card

                        >
                            <v-img
                                v-if="props.item.Street1"
                                height="170px"
                                :src="getPropertyImage(props.item.PropertyImagePath, props.item.Address)"
                            >
                            </v-img>
                            <div class="noPropertyCover" v-on:click="enterPropertyModal(props.item.ID)" v-else>
                                <div>Add an Address and Photo of the Property</div>
                            </div>
                            <v-card-title>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="addressTD" height="60">
                                                <property
                                                        v-if="props.item.Street1"
                                                        :icon="!booleanTrue"
                                                        main-container-style="margin-left:-20px"
                                                        :Street1="props.item.Street1"
                                                        :street1-class="'teal'"
                                                        :Street2="props.item.Street2"
                                                        :street2-class="'teal'"
                                                        :City="props.item.City"
                                                        :State="props.item.State"
                                                        :Zip="props.item.Zip"
                                                >

                                                </property>
                                                <div class="dividerL"></div>
                                            </td>
                                            <td class="optionsTD" height="60">
                                                <div class="teal optionsIconParent">
                                                    <i class="fas fa-ellipsis-h options dropdown-toggle" v-bind:id="'dropdownMenuButton'+props.item.ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                    <div class="dropdown-menu" v-bind:aria-labelledby="'dropdownMenuButton'+props.item.ID">
                                                        <div v-on:click="editTransaction(props.item.ID)">Edit</div>
                                                        <div v-on:click="viewTransactionSummary(props.item.ID)">View Summary</div>
                                                    </div>
                                                </div>
                                                <div class="dividerR"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clientTD" height="50">
                                                <div class="clientName row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <span>{{props.item.Client || ''}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="coeTD" height="50">
                                                <div>
                                                    <span class="red coeText">
                                                        Close of Escrow {{ props.item['Close of Escrow'] }}
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </template>
                <template v-slot:footer>
                    <v-flex
                        xs12
                        sm12
                        md12
                        lg12
                    >
                        <v-card v-on:click="viewMoreTransactions()">
                            <div class="viewMoreTransactions">
                                <span class="teal"><i class="far fa-arrow-alt-circle-down" style="font-size: 30px;"></i> View More Transactions</span>
                            </div>
                        </v-card>
                    </v-flex>
                </template>
            </v-data-iterator>
        </v-container>
        <date ref="dateInstance" date-time-prop=""></date>
    </div>
</template>

<script>
    import Date from './Date';
    import Property from './Property';
    export default {
        components: {
            Date,
            Property,
        },
        props: {
            transactionListByUserRoute: {
                String,
                default: null,
            },
            transactions: {
                Array,
                default: {},
            },
            transactionCreateRoute: {
                String,
                default: null,
            },
            transactionTimelineRoute: {
                String,
                default: null,
            },
            transactionHomeRoute: {
                String,
                default: null,
            },
        },
        data(){
            return {
                search: '',
                booleanTrue: true,
                headers: [
                    { text: 'Client', value:'Client' },
                    { text: 'Close of Escrow', value: 'Close of Escrow'},
                    { text: 'Address', value: 'Street1'},
                    { text: 'Address', value: 'Street2'},
                    { text: 'Address', value: 'City'},
                    { text: 'Address', value: 'State'},
                    { text: 'Address', value: 'Zip'},
                    { text: 'Address', value: 'Address'}
                ],
                allTransactions: [],
                addNewRows: 6,
                key: 0,
                addToKey: 1,
                filters: {
                    Status: null,
                },
                pagination: {
                    descending: true,
                    rowsPerPage: 5,
                    sortBy: 'ID',
                },
            }
        },
        watch: {
            search: {
                handler(val){
                    this.clearNewTransactionButton();
                    this.key += this.addToKey;
                }
            },
            key: {
                handler(val){

                }
            }
        },
        computed: {
            filteredItems(){
                let transactions = this.allTransactions;
                $.each(this.filters, (i,val) => {
                    if(val) transactions = transactions.filter(transaction => transaction[i] == val);
                });
                return transactions;
            },
        },
        methods: {
            getHostURL(){
                let location = window.location.protocol+'//'+window.location.host+'/';
                if(window.location.host == 'localhost' || window.location.host == '127.0.0.1')
                {
                    location += 'OfferToClose/public/';
                }
                return location;
            },
            enterPropertyModal(id){
                window.location.href = this.transactionHomeRoute.replace(':id', id) + '#opm';
            },
            getPropertyImage(propertyImagePath, address){
                if(propertyImagePath == null)return 'https://maps.googleapis.com/maps/api/staticmap?markers='+address+'&size=700x400&scale=2&maptype=roadmap&key=AIzaSyA4J1w4-TUMxlpNYl_NZDl6_Dg2cPhrKS8';
                else return propertyImagePath;
            },
            editTransaction(id){
                window.location.href = this.transactionHomeRoute.replace(':id', id);
            },
            viewTransactionSummary(id){
                window.location.href = this.transactionTimelineRoute.replace(':id', id);
            },
            addNewTransaction(){
                addNewTransactionModal(this.transactionCreateRoute);
            },
            clearNewTransactionButton(){
                this.removeNewTransactionButton();
            },
            viewMoreTransactions(){
                this.removeNewTransactionButton();
                this.pagination.rowsPerPage += this.addNewRows;
                this.appendNewTransactionButton(500);
            },
            appendNewTransactionButton(time){
                let iterator = $('.transactionsIterator');
                let vueObject = this;
                setTimeout(function(){
                    iterator.append(
                        '    <div class="addNewTransactionContainer col-xs-12 col-sm-6 col-md-4 col-lg-4" ' +
                        '        style="text-align: center; font-size: 60px; display: flex; justify-content: center; align-items: center; min-height: 330px;">\n' +
                        '        <div class="row">' +
                        '           <div class="col-sm-12 col-md-12 col-lg-12">' +
                        '               <i style="cursor: pointer;" class="fas fa-plus-circle teal addNewTransactionButton"></i>' +
                        '           </div>' +
                        '           <div class="col-sm-12 col-md-12 col-lg-12" style="display:flex; align-items: baseline; justify-content: center;">' +
                        '               <span class="teal" style="font-size:14px;">Add New Transaction</span>' +
                        '           </div>\n' +
                        '       </div>\n' +
                        '    </div>');

                    $('.addNewTransactionButton').click(function () {
                        vueObject.addNewTransaction();
                    });
                }, time);
            },
            removeNewTransactionButton(){
                $('.addNewTransactionContainer').remove();
            },
        },
        mounted(){
            let allTrans = JSON.parse(this.transactions);
            let vueObject = this;
            $('#search_table').keyup(_.debounce(function(){
                if($('.addNewTransactionContainer').length == 0)
                {
                    vueObject.appendNewTransactionButton(0);
                }
            } , 1000));
            for(let i in allTrans)
            {
                if(allTrans.hasOwnProperty(i))
                {
                    delete allTrans[i].Agent;
                    delete allTrans[i]['Appraisal Contingency'];
                    delete allTrans[i]['Client Role'];
                    delete allTrans[i]['Desposit Due'];
                    delete allTrans[i]['Inspection Contingency'];
                    delete allTrans[i]['Loan Application'];
                    delete allTrans[i]['Loan Contingency'];
                    delete allTrans[i]['Offer Accepted'];
                    delete allTrans[i]['Possession of Property'];
                    delete allTrans[i]['Start of Contract'];
                    //delete allTrans[i].Status;
                    delete allTrans[i].TC;
                    allTrans[i]['Close of Escrow'] = this.$refs.dateInstance.formatDate(allTrans[i]['Close of Escrow'],'date');
                }
            }
            this.allTransactions = allTrans;
            this.appendNewTransactionButton();

            $('.filters li').click(function ()
            {
                let el = $(this);
                let filter = el.data('filter');
                let filterType = el.data('type');
                if(vueObject.filters[filterType] !== filter)
                {
                    vueObject.filters[filterType] = filter;
                }
                else
                {
                    vueObject.filters[filterType] = null;
                }

                vueObject.clearNewTransactionButton();
                vueObject.key += vueObject.addToKey;

                $('*[data-type="'+filterType+'"]').removeClass('teal-background');
                if(vueObject.filters[filterType]) $('*[data-type="'+filterType+'"][data-filter="'+filter+'"]').addClass('teal-background');
            });
        }
    }
</script>

<style scoped>
    .v-card{
        border-radius: 5px;
        margin:10px;
    }

    .optionsIconParent{
        bottom: 10px;
        right: 0;
        position:absolute;
    }

    .options{
        border: solid 1px #dadada;
        border-radius: 4px;
        padding: 1px 5px;
        font-size: 25px;
        width: 50px;
        text-align: center;
    }

    table{
        table-layout:fixed;
        width:100%;
    }

    table tbody tr{
        width: 100%;
    }

    table td{
        display: inline-block;
        padding: 10px;
        position:relative;
    }


    .optionsTD {
        width: 15%;
        border-bottom: solid 1px #e2e2e2;
        vertical-align: bottom;
    }

    .addressTD{
        width: 85%;
        border-bottom: solid 1px #e2e2e2;
        font-size: 13px;

    }

    .clientTD{
        width: 40%;
    }

    .coeTD{
        width: 60%;
    }

    .clientName{
        font-weight:bold;
        font-size: 12px;
    }

    .coeText{
        font-weight: bold;
        font-size: 12px;
    }

    .viewMoreTransactions{
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding:10px;
    }
    .noPropertyCover{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 170px;
        background: url("https://i.ibb.co/gRq9JkQ/static-Map.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        cursor:pointer;
        z-index: 1;
    }
    .noPropertyCover div{
        display: flex;
        border: solid 1px #21d7d1;
        color: #21d7d1;
        background: white;
        padding: 10px;
        font-size: 13px;
    }
    #filterContainer{
        text-align: right;
    }
</style>