@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Open+Sans");
/***************** Mixins ******************/
/***************** Functions ***************/
/***************** UI STUFF ****************/
/******** Colors  *****/
.teal {
  color: #21d7d1 !important; }

.gray {
  color: #e4e4e4 !important; }

.gray-background {
  background: #eeeeee !important; }

.teal-background {
  background: #21d7d1; }

.otc-red {
  color: #ca4544; }

.border-red {
  border: 1px solid #ca4544; }

.green {
  color: #08b004; }

/*********** Buttons **********/
.btn-v2 {
  border-radius: 5px;
  border: 0;
  padding: 10px 15px 10px 15px;
  width: 100%; }

.btn-teal {
  font-size: 14px;
  background-color: #21d7d1 !important;
  color: white;
  font-weight: 600; }

.btn-red {
  font-size: 14px;
  background-color: #ca4544 !important;
  color: white;
  font-weight: 600; }

.o-teal-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #21d7d1 !important;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  color: white; }

/******** Search ********/
.search-container {
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 8px;
  background-color: #eeeeee;
  margin-bottom: 5px; }

.search-container .field-box {
  width: 70%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px; }

.search-container .field-box input {
  width: 100%;
  height: 37px;
  border-radius: 5px;
  border: 1px solid #ca4544;
  margin-left: 3px;
  margin-right: 5px;
  padding-left: 10px; }

#search_person_spinner {
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 93%;
  display: none; }

.search_list {
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  list-style: none;
  padding-left: 10px;
  background: white;
  max-height: 150px;
  overflow-y: scroll;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.search_list li {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px; }

.search_list li:hover {
  background: #f2f2f2;
  cursor: pointer;
  z-index: 5; }

.search_list {
  font-weight: 1000;
  color: #090f0f;
  display: none; }

.search-text {
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #21d7d1;
  outline: none;
  padding-left: 10px;
  padding-right: 20px;
  position: relative; }
  .search-text:focus {
    border-top: none !important;
    border-left: none;
    border-right: none; }

/**** Google Address Search *****/
.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
  background-image: none !important;
  height: 0; }

/********* Alerts *********/
.box {
  position: relative; }

.overlayLink {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }

/***** Spinners ******/
.spinner {
  display: none;
  font-size: 80px;
  color: #ffff;
  position: absolute;
  left: 47%;
  top: 35%;
  z-index: 6;
  transform: translateX(-50%, -50%); }

.spinner-kero {
  display: none;
  z-index: 2;
  transform: translateX(-50%);
  font-size: 180px;
  position: absolute;
  left: 40%;
  top: 30%;
  color: #000; }

.dropdown-menu {
  padding: 10px; }
  .dropdown-menu:hover {
    cursor: pointer; }

.dropdown-toggle:hover {
  cursor: pointer; }

/******** User Stuff **********/
.user-role li:hover {
  color: #21d7d1 !important; }

/****** States *******/
.deactivated-noevents {
  opacity: .4;
  pointer-events: none; }

.deactivated {
  background: #dddddd !important; }

.show {
  display: block; }

.hide {
  display: none; }

.display-none {
  display: none; }

.no-cursur {
  cursor: default !important; }

.important {
  color: #ca4544;
  padding-left: 5px; }

.errors {
  display: none;
  text-align: left;
  font-size: 12px;
  color: #ca4544; }

.overflow-hide {
  overflow: hidden; }

.true-checked {
  background-color: #21d7d1 !important;
  color: white !important; }

.false-checked {
  background-color: #ca4544 !important;
  color: white !important; }

.check-false:hover {
  background-color: #ca4544;
  color: white; }

.check-true:hover {
  background-color: #21d7d1;
  color: white; }

.check-false {
  color: #ca4544;
  border: 1px solid #c94543; }

.check-true {
  color: #21d7d1;
  border: 1px solid #01bdb7; }

input[type="button"]:disabled {
  background: #dddddd;
  pointer-events: none; }

/******************************************

Components/Views
Placing these after mixins, functions, and other UI styles ~should~
implicitly import them into each component below.

********************************************/
/******** Disclosures  **********/
.disclosure-show-completed {
  cursor: pointer; }

.disclosure-hide-completed {
  cursor: pointer; }

.timeline-hide-toggle {
  color: teal !important;
  cursor: pointer;
  display: none; }

.disclosure-show-completed {
  cursor: pointer;
  text-align: center;
  font-size: 17px !important; }

.timeline_completed {
  display: none; }

.desc-wrap:hover {
  cursor: pointer; }

.desc-wrap-completed:hover {
  background-color: #e85c5c !important;
  cursor: pointer; }

.timeline-past-due {
  color: red !important;
  font-weight: 600; }

.completed-milestone-h3 {
  color: #21d7d1 !important; }

.link-active {
  color: #D52A39; }

.mobile-view {
  color: #00DED3; }

.progress {
  margin-top: 15px;
  height: 15px !important;
  border-radius: 25px !important; }

.progress-bar {
  background-color: #00e2da !important;
  border-radius: 25px;
  height: 15px !important; }

.questionAmt {
  position: absolute;
  top: -10px;
  color: darkgrey;
  left: 30%; }

.additionalInfo {
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 50px;
  width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: Tahoma, sans-serif; }
  .additionalInfo::placeholder {
    color: #ccc; }

.disclosure-title {
  color: #C94543;
  font-size: 1em; }

.question {
  padding-top: 30px; }

.question-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  margin-top: 40px; }

.question-info {
  padding: 20px;
  padding-left: 0px;
  font-weight: bold;
  font-style: italic; }

.hint-title {
  color: #00e2da;
  font-weight: normal !important;
  font-style: normal !important;
  cursor: pointer; }
  .hint-title:hover {
    text-decoration: underline; }

.answer-section {
  margin-top: 15px;
  min-height: 250px; }

.list-buttons {
  width: 90%;
  padding-top: 20px;
  border-top: solid 1px rgba(204, 204, 204, 0.45);
  position: relative;
  min-height: 100px; }

.questionnaireContainer {
  background: white !important;
  padding: 30px;
  min-height: 500px;
  margin-bottom: 100px; }

.angle-icon {
  position: relative;
  bottom: -1px; }

.next-question {
  background: #00e2da !important;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.2em !important; }
  .next-question:hover {
    background: #00e2da !important; }

.next-unanswered-question {
  background: #ca4544;
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 10px !important;
  top: -56px;
  font-size: 13px; }
  .next-unanswered-question:hover {
    background: #21d7d1 !important; }

.update-button {
  cursor: pointer !important; }

.prev-question {
  background: none;
  color: rgba(143, 143, 143, 0.72);
  border: none;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  text-align: left; }

.radio-group {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0; }
  .radio-group li {
    float: left;
    color: #ccc;
    margin: 0 5px 0 0;
    width: 200px;
    height: 50px;
    position: relative; }

.radio-label {
  color: lightgray;
  display: block;
  text-align: center;
  line-height: 49%; }

.radio-group label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.radio-group input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .radio-group input[type="radio"] {
    display: none; }
    .radio-group input[type="radio"]:checked + label {
      background-color: #00e2da;
      color: white; }

.radio-group label {
  padding: 20px;
  border: 1px solid #CCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 90; }
  .radio-group label:hover {
    background-color: #00e2da;
    color: white; }

.single-answer {
  font-size: 20px;
  font-style: italic; }

/* Checkboxes */
.checkbox-group .row div {
  margin-top: 10px; }

.checkbox-label {
  padding-left: 10px; }

.checkbox-group input[type="checkbox"] {
  display: none;
  float: right; }

.checkbox-group label:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  line-height: 20px;
  text-align: right;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 10px; }

.checkbox-group input[type="checkbox"]:checked + label::before {
  background: url("../../public/images/icons/check.png");
  background-position: center; }

/********** Key People *********/
.people-icon {
  cursor: pointer; }

.kp-detail {
  padding-left: 15px; }

.keyperson-container {
  padding: 20px;
  padding-left: 25px;
  font-size: 20px; }

.keyperson-modal {
  width: 400px;
  background: red; }

.inner_span {
  text-align: left;
  float: right;
  width: 50%; }

.add-person {
  font-weight: 600;
  text-decoration: underline; }

/****** Tasks  *******/
.tasks-textarea {
  border-radius: 5px;
  margin: 25px 0 0;
  width: 342px;
  height: 107px; }

.tasks-red-bottom {
  border-bottom: 1px solid #ca4544;
  width: 342px;
  overflow: hidden; }
  .tasks-red-bottom img {
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    width: 10px;
    margin-top: 7px;
    margin-right: 5px;
    transform: translate(0%, 39%);
    background-image: url(http://offerclose/public/images/short-icon/Rectangle-date.png); }

.tasks-input {
  float: left;
  height: 20px;
  outline: 0;
  border: 0 !important;
  padding-left: 0;
  width: 342px !important; }

.tasks-save {
  position: relative !important;
  width: 146px;
  height: 58px;
  border-radius: 6px;
  background-color: #21d7d1;
  font-size: 17px;
  line-height: 22px;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding-left: 20px;
  outline: 0;
  border: 1px solid #01BDB7;
  margin-left: 15px;
  margin-top: 50px; }

.edit-task-container {
  width: 80% !important;
  padding: 15px !important; }

.task-modal-class .modal-content {
  width: 500px; }

.timeline-hide-toggle {
  color: teal !important;
  cursor: pointer;
  display: none; }

.timeline-show-completed {
  cursor: pointer;
  text-align: center;
  font-size: 17px !important; }

.timeline_completed {
  display: none; }

.desc-wrap:hover {
  cursor: pointer; }

.desc-wrap-completed:hover {
  background-color: #e85c5c !important;
  cursor: pointer; }

.tasks-title {
  color: #cb4544 !important;
  font-weight: 600;
  text-transform: capitalize !important; }

.link-active {
  color: #D52A39; }

.mobile-view {
  color: #00DED3; }

.view-buttons {
  padding: 20px; }

.view-buttons ul li {
  list-style: none !important;
  display: inline-block;
  float: right;
  padding: 5px; }

.category-button {
  color: white;
  background: #21D7D1;
  padding: 10px;
  border-radius: 5px; }

.category-button-on {
  color: white;
  background: #21D7D1;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #ccc; }

.category-button-off {
  border: solid 1px #ccc;
  color: #C0C6CC;
  background: white;
  padding: 10px;
  border-radius: 5px; }

.chronological-button {
  border: solid 1px #ccc;
  padding: 9px;
  display: inline-block;
  border-radius: 5px;
  color: #C0C6CC; }

.chronological-button-off {
  border: solid 1px #ccc;
  padding: 9px;
  display: inline-block;
  border-radius: 5px;
  color: #C0C6CC; }

.chronological-button-on {
  padding: 9px;
  display: inline-block;
  border-radius: 5px;
  color: white;
  background: #21D7D1;
  border: solid 1px #ccc; }

/******** Mail ***************/
.mail_fields {
  width: 100%; }
  .mail_fields div {
    width: 50%;
    margin: 0 auto; }
  .mail_fields label {
    width: 20%;
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px; }
  .mail_fields input[type=text] {
    height: 30px;
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px; }

.to_field {
  width: 200px;
  height: 20px; }

.email-template-container {
  width: 100%; }

.email-template {
  width: 50%;
  margin: 0 auto; }

.choose-template-container {
  width: 100%;
  padding: 20px;
  padding-left: 50px; }

.template-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #dddddd;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none; }
  .template-radio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg); }
  .template-radio:hover {
    background-color: #e4e4e4; }
  .template-radio:checked {
    background-color: #21d7d1; }

label {
  font: 300 16px/1.7 'Open Sans', sans-serif;
  color: #666;
  cursor: pointer; }

/******** Agent Modal   *********/
.modal-body-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.7s ease-out; }

.modal-body-wrapper.pan-left {
  transform: translateX(-50%); }

.modal-body-wrapper.pan-right {
  transform: translateX(0%); }

.modal-body-wrapper .header {
  margin-bottom: 10px; }

.agent-modal p {
  font-size: 14px;
  font-weight: 300; }

.agents-modal .modal-content .modal-header {
  border-bottom: none;
  padding: 0; }

.step-1 {
  padding: 20px;
  float: left; }

.step-2 {
  padding: 20px;
  padding-left: 30px;
  float: left; }

.search-container {
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 8px;
  background-color: #eeeeee;
  margin-bottom: 5px; }

.search-container .field-box {
  width: 70%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px; }

.search-container .field-box input {
  width: 100%;
  height: 37px;
  border-radius: 5px;
  border: 1px solid #c94543;
  margin-left: 3px;
  margin-right: 5px;
  padding-left: 10px; }

.agent-details {
  margin-top: 40px !important; }

.o-red-link {
  color: #c94543;
  font-weight: 500; }

.field-row {
  margin-top: 20px; }

.field-row label {
  font-size: 12px;
  margin-bottom: 15px; }

.o-link-previous {
  font-size: 12px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  margin-right: 20px; }

.agents-modal .add-note {
  font-size: 12px;
  line-height: 22px;
  color: #ca4544;
  font-family: "Open Sans",sans-serif;
  font-weight: bold; }

.modal-title {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: 300; }

.note {
  margin-top: 20px;
  margin-bottom: 10px; }

#brokerage-office-modal .modal-content label {
  font-size: 12px;
  margin-bottom: 7px; }

#brokerage-office-modal .modal-dialog {
  margin-left: 53%;
  margin-top: -10px;
  width: 450px; }

#brokerage-office-modal .modal-content .modal-header {
  border-bottom: none;
  padding: 0; }

.office_search_list {
  position: absolute;
  left: 0;
  z-index: 5;
  list-style: none;
  padding-left: 5px;
  background: white;
  max-height: 150px;
  overflow-y: scroll;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: none; }

.office_search_list li {
  margin-top: 10px;
  margin-bottom: 10px; }

.office_search_list::-webkit-scrollbar {
  width: 5px;
  background-color: white; }

.office_search_list::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #D62929; }

.office_search_list li:hover {
  background: #f2f2f2;
  cursor: pointer; }

#search_brokerage_spinner {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 95%;
  display: none; }

.search_list {
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  list-style: none;
  padding-left: 10px;
  background: white;
  max-height: 150px;
  overflow-y: scroll;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.search_list li {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px; }

.search_list li:hover {
  background: #f2f2f2;
  cursor: pointer;
  z-index: 5; }

.search_list {
  font-weight: 1000;
  color: #090f0f;
  display: none; }

#search_person_spinner {
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 93%;
  display: none; }

.modal-content.dim:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7); }

.modal-notes {
  display: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  background: #F9F9F9;
  transition: all 1s; }

.modal-notes.active {
  display: block !important; }

/******** Aux Modal   ******/
.modal-header {
  margin-top: -10px;
  border-bottom: none; }

.modal-title {
  font-size: 20px; }

.modal-content {
  padding: 25px !important; }

.address-field {
  display: inline;
  width: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cd6563;
  outline: none;
  padding-left: 10px;
  padding-right: 10px; }

.text-field {
  display: inline;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cd6563;
  outline: none;
  padding-left: 10px;
  padding-right: 10px; }

.modal-content {
  padding: 20px; }

.modal-label {
  padding-left: 0;
  padding-right: 0; }

.address-label {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: 300; }

.modal-label {
  font-size: 12px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: bold; }

.o-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 16px;
  background-color: white;
  border: none;
  background-size: 20px 20px;
  border-bottom: 1px solid #cd6563;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  padding-left: 10px; }

.o-select::before {
  content: "\f107";
  font-family: "FontAwesome";
  color: black;
  position: absolute;
  right: 20px;
  top: 5px;
  z-index: -1;
  pointer-events: none; }

.o-radio-container {
  display: inline;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  font-weight: 600;
  margin: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 10px;
  border-radius: 5px; }

.o-radio-container input {
  display: none;
  opacity: 0; }

.o-radio-container i {
  font-size: 14px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(-50%, -50%); }

.errors {
  display: none;
  text-align: left;
  font-size: 12px;
  color: red; }

.modal-content.dim:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7); }

.o-spinner {
  display: none; }

.o-field-row {
  margin-top: 15px;
  margin-bottom: 15px; }

.o-field-row .label-control {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.modal-notes {
  display: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  background: #F9F9F9;
  transition: all 1s; }

.modal-notes.active {
  display: block; }

.o-spinner {
  display: none;
  font-size: 80px;
  color: #ffff;
  position: absolute;
  left: 44%;
  top: 35%;
  z-index: 6;
  transform: translateX(-50%, -50%); }

/********* Property Modal *****/
.address-field {
  display: inline;
  width: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cd6563;
  outline: none;
  padding-left: 10px;
  padding-right: 10px; }

.text-field {
  display: inline;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cd6563;
  outline: none;
  padding-left: 10px;
  padding-right: 10px; }

.modal-content {
  padding: 20px; }

.modal-content.dim:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7); }

.modal-label {
  padding-left: 0;
  padding-right: 0; }

.address-label {
  font-size: 18px !important;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: 300; }

.modal-label {
  font-size: 12px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: bold; }

.modal-notes {
  display: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  background: #F9F9F9;
  transition: all 1s; }

.modal-notes.active {
  display: block; }

.o-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 16px;
  background-color: white;
  border: none;
  background-size: 20px 20px;
  border-bottom: 1px solid #cd6563;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  padding-left: 10px; }

.o-select::before {
  content: "\f107";
  font-family: "FontAwesome";
  color: black;
  position: absolute;
  right: 20px;
  top: 5px;
  z-index: -1;
  pointer-events: none; }

.o-radio-container {
  display: inline;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  font-weight: 600;
  margin: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 10px;
  border-radius: 5px; }

.o-radio-container input {
  display: none; }

.o-radio-container i {
  font-size: 14px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(-50%, -50%); }

.o-modal-footer {
  margin-top: 50px; }

.o-modal-footer a {
  margin-right: 20px;
  text-decoration: none; }

.success_msg {
  display: hidden;
  position: absolute;
  transform: translateX(-50%, -50%);
  left: 20%;
  top: 60%;
  z-index: 3;
  border-radius: 5px; }

.modal-header {
  border-bottom: none;
  margin-top: -10px; }

/******* Documents *********/
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none; }

.timeline-hide-toggle {
  color: teal !important;
  cursor: pointer;
  display: none; }

.timeline-show-completed {
  cursor: pointer;
  text-align: center;
  font-size: 17px !important; }

.timeline_completed {
  display: none; }

.desc-wrap:hover {
  cursor: pointer; }

.desc-wrap-completed:hover {
  background-color: #e85c5c !important;
  cursor: pointer; }

.timeline-past-due {
  color: red !important;
  font-weight: 600; }

.completed-milestone-h3 {
  color: #21d7d1 !important; }

.link-active {
  color: #D52A39; }

.table .description {
  text-align: left; }

.o-red {
  color: #D7293A; }

.o-green {
  color: #30A600; }

.table .upload a {
  color: #333; }

table {
  border-collapse: separate; }

.bag-row td {
  background-color: white; }

.bag-row {
  border: solid 1px grey; }

.bag-row td {
  text-align: left;
  width: 100%; }

.bag-row td {
  border-top: 1px solid grey !important; }

.bag-row td {
  border-bottom: 1px solid grey !important; }

.bag-row td:first-child {
  border-top-left-radius: 10px;
  border-left: 1px solid grey !important; }

.bag-row td:last-child {
  border-top-right-radius: 10px;
  border-right: 1px solid grey !important; }

.bag-row td:first-child {
  border-bottom-left-radius: 10px; }

.bag-row td:last-child {
  text-align: left;
  border-bottom-right-radius: 10px; }

.acc-title {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 17px;
  text-transform: uppercase;
  color: #21d7d1;
  font-weight: bold; }

.docs-item td {
  background-color: white !important; }

.fa-cloud-upload-alt {
  cursor: pointer; }

/********* Timeline  **********/
.timeline-hide-toggle {
  color: teal !important;
  cursor: pointer;
  display: none; }

.timeline-show-completed {
  cursor: pointer;
  text-align: center;
  font-size: 17px !important; }

.timeline_completed {
  display: none; }

.desc-wrap:hover {
  cursor: pointer; }

.desc-wrap-completed:hover {
  background-color: #e85c5c !important;
  cursor: pointer; }

.timeline-past-due {
  color: red !important;
  font-weight: 600; }

.completed-milestone-h3 {
  color: #21d7d1 !important; }

.link-active {
  color: #D52A39; }

.mobile-view {
  color: #00DED3; }

#aButtons {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px; }
  #aButtons button {
    width: 100px !important; }

.timeline-modal-class .modal-content {
  width: 400px; }

.tasks-save {
  margin-left: 70px; }

/****** Dashboard Banner ******/
.dashboard-banner .wrap .title {
  color: black; }

.dashboard-banner {
  overflow: hidden; }
  .dashboard-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1; }
  .dashboard-banner .banner-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .dashboard-banner .banner-bg:after {
      content: '';
      background: transparent;
      background: linear-gradient(to bottom, rgba(36, 66, 101, 0) 0%, rgba(255, 255, 255, 0.94) 45%);
      padding-top: 36%;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 145px; }
  .dashboard-banner .wrap {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 30px 25px; }

.dashboard-banner .wrap .title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6em;
  font-family: Roboto, sans-serif; }

.dashboard-banner .wrap .countdown {
  color: #21d7d1;
  font-size: 16px;
  display: inline-block;
  border-bottom: 2px solid #ca4544;
  font-family: Roboto, sans-serif; }

.dashboard-banner .wrap .edit-button {
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .dashboard-banner .wrap {
    /*padding: 80px 30px 120px;*/ }
    .dashboard-banner .wrap .countdown {
      padding-bottom: 20px; } }

@media (min-width: 992px) {
  .dashboard-banner .wrap {
    /*padding: 80px 30px 120px;*/ }
    .dashboard-banner .wrap .title {
      font-size: 28px;
      margin-bottom: 15px; }
    .dashboard-banner .wrap .countdown {
      font-size: 25px; } }

@media (min-width: 1200px) {
  .dashboard-banner .wrap {
    /*padding: 114px 30px 183px;*/ } }

.edit-button {
  background-color: #ca4544;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  opacity: .8;
  padding: 10px 15px 12px 15px; }
  .edit-button:hover, .edit-button:active, .edit-button:focus {
    color: #fff;
    background-color: #21d7d1; }

.transaction-summary-banner-stats .edit-button {
  float: right;
  margin-top: 40px; }

.transaction-summary-banner-stats .title {
  text-align: left; }

.transaction-summary-banner-stats .countdown {
  float: left;
  border: none !important; }

/******* Transaction List *****/
.search-text {
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #01bdb7;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }

.search-text:focus {
  border-top: none !important;
  border-left: none;
  border-right: none; }

.search-bar {
  position: relative; }

.main-content {
  background-color: white; }

.search_query {
  border: none;
  margin-bottom: 5px; }

.search_query:focus {
  border: none;
  outline: none; }

.address-col {
  text-align: left !important;
  padding: 10px; }

.client-name-col {
  text-align: left !important;
  padding: 10px; }

.transaction-list-dropdown-menu a:hover {
  text-decoration: underline; }

/***** Add Person ****/
.add_person_container_wrapper {
  background: white;
  border: solid 1px #f7f7f7;
  border-radius: 10px;
  padding: 70px 50px;
  margin: auto;
  width: 90%; }

.all_containers {
  max-width: 600px;
  padding: 20px; }

.add_person_container {
  background: white;
  border: solid 1px #a3a3a3;
  border-radius: 3px;
  margin-left: 20px;
  margin-bottom: 15px;
  text-align: center;
  padding: 5px 15px 5px 15px; }

.add_person_container:hover h4 {
  color: white; }

.add_person_container:hover {
  background: #21d7d1;
  cursor: pointer; }

.add_person_container h4 {
  color: #a3a3a3;
  font-size: 13px; }

.add_person_title {
  width: 90%;
  margin: auto;
  margin-bottom: 50px; }

/**** Filter Dropdown ****/
.filterDropdown p {
  color: #e3e6c3; }

.filterDropdown ul {
  list-style: none;
  margin: 0;
  padding: 0; }

hr {
  margin: 0; }

/*** Register Form ***/
#registerForm .help-block, #requestMembershipForm .help-block {
  color: #ca4544; }

body {
  background-color: #F9F9F9;
  overflow-x: hidden; }

a {
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

#header {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) !important; }

.footer {
  margin: 50px 0 50px 0;
  padding-left: 50px !important; }
  .footer .left, .footer .right {
    float: left; }
  .footer .img {
    background-image: url("../images/logo.png");
    height: 33px;
    width: 21px;
    margin-right: 10px; }
  .footer .right .copy p {
    font-size: 11px;
    line-height: 22px;
    color: #717171;
    font-weight: bold; }
  .footer .right .links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .footer .right .links a {
      font-size: 11px;
      line-height: 22px;
      color: #717171;
      font-weight: bold;
      margin-right: 5px; }

.main-content {
  padding-left: 42px;
  width: 100%;
  float: left;
  font-size: 16px; }
  .main-content.shrink {
    padding-left: 250px; }

.main-content .white {
  background-color: white; }

.quicklinks .item a {
  border-radius: 0 !important;
  color: #da6c77 !important;
  border: none !important;
  font-size: 18px !important;
  font-weight: 400 !important; }

.name {
  padding-left: 10px;
  font-size: 18px !important;
  font-weight: 500; }

.user-info-wrapper .avatar img {
  height: 40px !important;
  width: 40px !important; }

.uinfo {
  position: relative; }

.user-info-drop-down a {
  text-decoration: none; }

.uinfo .user-info-drop-down {
  display: none;
  left: 0;
  top: 60px;
  padding: 20px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  z-index: 99 !important; }
  .uinfo .user-info-drop-down ul {
    text-align: left;
    padding: 0;
    list-style: none;
    font-size: 15px; }
    .uinfo .user-info-drop-down ul li {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 600;
      color: #333333; }
  .uinfo .user-info-drop-down .btn-ofc {
    background-color: #ca4544;
    font-weight: 600 !important; }

.left-menu {
  transition: all 0s;
  position: absolute;
  z-index: 5;
  background-color: white;
  width: 40px;
  min-height: 100%;
  float: left;
  left: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) !important; }
  .left-menu.stickIt {
    position: fixed;
    top: 0; }
  .left-menu .menu-toggler {
    width: 40px;
    color: #aba7a7;
    padding-left: 10px;
    font-size: 20px;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e4e4e4;
    cursor: pointer; }
    .left-menu .menu-toggler.active {
      padding-left: 90%;
      width: 250px !important;
      animation: open-toggler;
      animation-duration: 0.2s; }
  .left-menu .sub {
    display: none;
    padding-left: 40px;
    font-size: 16px;
    text-transform: uppercase; }
  .left-menu .item .sub a {
    padding-left: 10px;
    color: #5f5e5e;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px; }
    .left-menu .item .sub a:hover {
      color: #ca4544; }

.menu-item-wrapper {
  overflow-y: scroll;
  height: 90vh; }
  .menu-item-wrapper::-webkit-scrollbar {
    display: none; }

.menu-icon {
  width: 100px !important;
  color: #ca4544; }
  .menu-icon.selected {
    color: white !important; }

.left-menu .item {
  position: relative;
  font-size: 20px; }
  .left-menu .item .main {
    padding-left: 10px;
    padding-right: 5px;
    display: block;
    height: 50px;
    padding-top: 10px;
    font-weight: 500;
    border-bottom-color: #e4e4e4 solid 1px; }
    .left-menu .item .main.active {
      background-color: #21d7d1;
      color: white; }
    .left-menu .item .main:hover {
      background-color: #21d7d1;
      cursor: pointer; }

.left-menu.active {
  width: 250px;
  animation-name: open-toggler;
  animation-duration: 0.2s; }

.item .main .menu-title {
  font-size: 16px;
  letter-spacing: 1px;
  user-select: none;
  visibility: hidden;
  font-weight: 500;
  padding-left: 10px;
  color: #333333; }
  .item .main .menu-title.active {
    visibility: visible; }
  .item .main .menu-title.selected {
    color: white; }

.left-menu .item .sub.active {
  display: block; }

/*=======Transaction list page css====*/
.o-box {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07); }
  .o-box .title {
    padding: 20px;
    font-size: 20px; }

.o-radio-container {
  display: inline;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  font-weight: 600;
  margin: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 10px;
  border-radius: 5px; }

.o-radio-container input {
  display: none; }

.o-radio-container i {
  font-size: 14px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(-50%, -50%); }

.o-table {
  width: 100%;
  font-size: 0.750em;
  border-spacing: 0 10px;
  margin: 0; }
  .o-table thead tr th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ebebec;
    border-left: 1px solid #ebebec;
    height: 73px;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    color: black;
    font-weight: bold; }
  .o-table td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ebebec;
    border-left: 1px solid #ebebec;
    height: 71px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    line-height: 17px;
    color: #717171; }

.view-icon {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  padding: 10px; }
  .view-icon:hover {
    background-color: #ca4544;
    color: white; }

.edit-icon {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  padding: 10px; }
  .edit-icon:hover {
    background-color: #21d7d1;
    color: white; }

.left-menu .white {
  color: white !important; }

.main-details {
  background-color: #f9f9f9; }

.text-center {
  text-align: center; }

.dot-text {
  color: #000;
  display: inline-block;
  font-size: 16px;
  padding-left: 21px;
  position: relative; }
  .dot-text:before {
    content: '';
    background-color: #21d7d1;
    border: 1px solid #1baba6;
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    width: 13px;
    position: absolute;
    top: 6px;
    right: auto;
    bottom: auto;
    left: 0; }

.main-details.dashboard {
  font-family: Roboto, sans-serif; }
  .main-details.dashboard .btn-danger {
    background-color: #ca4544;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    display: inline-block;
    padding: 10px 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

#o-success-message {
  background-color: #a4e6af;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  border-radius: 8px;
  z-index: 10;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding-top: 10px; }
  #o-success-message .success-icon {
    font-size: 40px;
    color: white; }
  #o-success-message .success-text {
    color: #333333; }

.dropdown-group select {
  height: 30px; }

#o-failure-message {
  background-color: #ffe1e1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  border-radius: 8px;
  z-index: 10;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding-top: 10px; }
  #o-failure-message .failure-icon {
    font-size: 40px;
    color: #e29797; }
  #o-failure-message .failure-text {
    color: #333333; }

#o-failure-popup {
  background-color: #ffe1e1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  border-radius: 8px;
  z-index: 10;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 25px; }
  #o-failure-popup .failure-icon {
    font-size: 40px;
    color: #e29797; }

.o-failure-popup .failure-icon {
  font-size: 40px;
  color: #e29797; }

#o-failure-popup .failure-text, .o-failure-popup .failure-text {
  color: #333333; }

#o-failure-popup .yes-button, .o-failure-popup .yes-button {
  font-size: 14px;
  background-color: #21d7d1;
  color: white;
  font-weight: 600;
  margin-top: 10px; }

#o-failure-popup .no-button, .o-failure-popup .no-button {
  font-size: 14px;
  background-color: #ca4544;
  color: white;
  font-weight: 600;
  margin-top: 10px; }

.checkbox label:after, .radio label:after {
  content: '';
  display: table;
  clear: both; }

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.7em;
  height: 1.7em;
  float: left;
  margin-right: .5em; }

.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  width: 1.7em;
  height: 1.7em;
  float: left;
  margin-right: .5em;
  border-radius: 50%; }

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%; }

.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
  margin-left: 0.04em; }

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
  display: none; }

.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in; }

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1; }

.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr {
  opacity: .5; }

.rectangular-radio input {
  display: none; }

.rectangular-radio .rectangular-radio-value {
  border-radius: 5px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #a3a3a3; }
  .rectangular-radio .rectangular-radio-value:hover {
    background-color: #21d7d1;
    color: white !important;
    border: none;
    cursor: pointer; }

.rectangular-radio input:checked + .rectangular-radio-value {
  background-color: #21d7d1;
  color: white !important;
  border-color: none; }

.main-details.dashboard .btn-danger:hover, .main-details.dashboard .btn-danger:active, .main-details.dashboard .btn-danger:focus {
  background-color: #862e2d; }

.main-details.dashboard .tab-content .title {
  color: #ca4544;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400; }

.main-details.dashboard .tab-content .sub-title {
  color: #21d7d1;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }

.main-details.dashboard .tab-content .display-change {
  margin-bottom: 20px; }
  .main-details.dashboard .tab-content .display-change.alt {
    margin-top: 15px;
    margin-bottom: 0; }
    .main-details.dashboard .tab-content .display-change.alt a {
      color: #ca4544;
      font-size: 15px; }
      .main-details.dashboard .tab-content .display-change.alt a:hover, .main-details.dashboard .tab-content .display-change.alt a:active, .main-details.dashboard .tab-content .display-change.alt a:focus {
        color: #333333; }

.main-details.dashboard .content-wrap {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }
  .main-details.dashboard .content-wrap .section-item {
    padding: 20px 20px 1px; }
    .main-details.dashboard .content-wrap .section-item + .section-item {
      border-top: 1px solid #eaeaea; }
    .main-details.dashboard .content-wrap .section-item.section-top {
      padding: 12px 13px 10px; }
    .main-details.dashboard .content-wrap .section-item:last-child {
      padding-bottom: 20px; }

.main-details.dashboard .list-tabs {
  list-style: none;
  padding-left: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0; }
  .main-details.dashboard .list-tabs .tab-button {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 10px 15px;
    text-align: center; }
  .main-details.dashboard .list-tabs .desktop-view {
    display: none; }
  .main-details.dashboard .list-tabs .mobile-view {
    font-size: 20px; }

.main-details.dashboard .list-dates {
  margin-bottom: 20px; }
  .main-details.dashboard .list-dates .date-item {
    display: table;
    width: 100%;
    margin-bottom: 20px; }
    .main-details.dashboard .list-dates .date-item .date {
      display: table-cell;
      vertical-align: top;
      width: 55px;
      text-align: center;
      padding-top: 2px; }
      .main-details.dashboard .list-dates .date-item .date .month {
        display: block;
        font-size: 14px;
        font-weight: 600;
        vertical-align: middle;
        line-height: 14px; }
      .main-details.dashboard .list-dates .date-item .date .day {
        font-size: 27px;
        display: inline-block;
        vertical-align: middle;
        line-height: 30px; }
      .main-details.dashboard .list-dates .date-item .date.due {
        padding-top: 7px;
        padding-right: 12px; }
        .main-details.dashboard .list-dates .date-item .date.due .quote-due {
          font-size: 10px;
          color: #ca4544;
          bordeR: 1px solid #cb4544;
          display: block;
          border-radius: 5px;
          line-height: 12px;
          padding: 10px 3px;
          position: relative; }
          .main-details.dashboard .list-dates .date-item .date.due .quote-due:after {
            content: '';
            background-image: url(../images/arrow-left.jpg);
            width: 8px;
            height: 11px;
            display: block;
            position: absolute;
            right: -8px;
            top: 11px; }
    .main-details.dashboard .list-dates .date-item .description {
      display: table-cell;
      vertical-align: middle; }
      .main-details.dashboard .list-dates .date-item .description .desc-note {
        font-size: 12px;
        font-style: italic;
        color: #616161;
        line-height: 20px;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 10px;
        position: relative; }
        .main-details.dashboard .list-dates .date-item .description .desc-note:before {
          content: '';
          display: block;
          background-image: url(../images/information-icon.png);
          width: 14px;
          height: 14px;
          position: absolute;
          left: 0;
          top: 2px; }
      .main-details.dashboard .list-dates .date-item .description .desc-wrap {
        border-radius: 8px;
        border: 1px dashed #cdcdcd;
        font-weight: 400;
        line-height: 21px;
        padding: 13px 10px 13px 33px;
        position: relative;
        font-size: 14px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        .main-details.dashboard .list-dates .date-item .description .desc-wrap.done, .main-details.dashboard .list-dates .date-item .description .desc-wrap:hover, .main-details.dashboard .list-dates .date-item .description .desc-wrap:active, .main-details.dashboard .list-dates .date-item .description .desc-wrap:focus {
          background-color: #21d7d1;
          border: 1px solid #21d7d1;
          color: #fff; }
        .main-details.dashboard .list-dates .date-item .description .desc-wrap.done .action, .main-details.dashboard .list-dates .date-item .description .desc-wrap:hover .action, .main-details.dashboard .list-dates .date-item .description .desc-wrap:active .action, .main-details.dashboard .list-dates .date-item .description .desc-wrap:focus .action, .main-details.dashboard .list-dates .date-item .description .desc-wrap.done .action-list > li a, .main-details.dashboard .list-dates .date-item .description .desc-wrap:hover .action-list > li a, .main-details.dashboard .list-dates .date-item .description .desc-wrap:active .action-list > li a, .main-details.dashboard .list-dates .date-item .description .desc-wrap:focus .action-list > li a {
          color: #fff; }
        .main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list {
          list-style: none;
          padding-left: 0;
          margin: 8px -5px 0;
          font-size: 0; }

.desc {
  padding-right: 10%; }

.main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list:after {
  content: '';
  display: block;
  clear: both; }

.main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list > li {
  display: inline-block;
  padding: 0 5px;
  float: left; }
  .main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list > li a {
    font-size: 12px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #e4e4e4; }

.main-details.dashboard .list-dates .date-item .description .desc-wrap .action {
  color: #e4e4e4;
  margin-right: 6px;
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 12px;
  cursor: pointer; }
  .main-details.dashboard .list-dates .date-item .description .desc-wrap .action.alt {
    left: auto;
    right: 10px; }

.main-details.dashboard .list-dates .date-item .description .desc-wrap .mark-complete {
  font-size: 14px;
  display: block;
  text-transform: uppercase; }

.main-details.dashboard .list-dates .date-item .description .desc-wrap .add-date {
  color: #ca4544;
  display: block;
  font-size: 11px;
  font-weight: 600; }

.main-details.dashboard .list-dates.w-actions .date-item .description .desc-wrap {
  padding-left: 14px;
  padding-right: 35px; }

.main-details.dashboard .details-content {
  background-color: #fff;
  padding: 22px 20px 11px;
  border-radius: 8px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }
  .main-details.dashboard .details-content .title {
    margin-bottom: 15px; }
  .main-details.dashboard .details-content .details-list .detail-item {
    color: #000000;
    border-radius: 8px;
    border: 1px dashed #e4e4e4;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 11px;
    padding: 10px 15px;
    min-height: 42px; }
    .main-details.dashboard .details-content .details-list .detail-item.people-icon {
      padding-left: 10px; }
      .main-details.dashboard .details-content .details-list .detail-item.people-icon .item-title:before {
        content: '\f007';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #cdcdcd;
        margin-right: 10px;
        display: inline-block; }
    .main-details.dashboard .details-content .details-list .detail-item .item-title {
      font-weight: bold;
      display: block; }

.links-list {
  margin-bottom: 20px; }
  .links-list .link-item {
    margin-bottom: 10px; }
    .links-list .link-item .link {
      border-radius: 5px;
      border: 1px solid #21d7d1;
      color: #000;
      display: block;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .links-list .link-item .link:hover, .links-list .link-item .link:active, .links-list .link-item .link:focus {
        border-color: #ca4544; }

@media (min-width: 576px) {
  .main-details.dashboard .details-content {
    padding: 25px 20px 16px; }
    .main-details.dashboard .details-content .details-list .detail-item .item-title {
      float: left;
      width: 160px; } }

@media (min-width: 768px) {
  .main-details.dashboard.transaction-summary .wrap {
    border-top: solid 3px #ca4544;
    margin-top: 0 !important; } }

@media (min-width: 768px) {
  .main-details.dashboard .wrap {
    margin-top: -100px;
    position: relative;
    z-index: 4; }
  .main-details.dashboard .tab-content .title, .main-details.dashboard .tab-content .sub-title {
    font-size: 20px; }
  .main-details.dashboard .tab-content .display-change {
    margin-bottom: 30px; }
  .main-details.dashboard .content-wrap .section-item {
    padding: 23px 30px 1px; }
    .main-details.dashboard .content-wrap .section-item:last-child {
      padding-bottom: 40px; }
  .main-details.dashboard .list-tabs {
    padding: 0 40px; }
    .main-details.dashboard .list-tabs .tab-button {
      padding-bottom: 20px; }
      .main-details.dashboard .list-tabs .tab-button.current-tab {
        position: relative; }
        .main-details.dashboard .list-tabs .tab-button.current-tab:after {
          content: '';
          background-image: url(../images/triangle.png);
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          height: 23px;
          left: 0;
          margin: auto;
          position: absolute;
          right: 0;
          width: 40px; }
      .main-details.dashboard .list-tabs .tab-button a {
        color: #000 !important;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 13px;
        padding: 12px 0;
        text-transform: uppercase; }
        .main-details.dashboard .list-tabs .tab-button a:hover, .main-details.dashboard .list-tabs .tab-button a:active, .main-details.dashboard .list-tabs .tab-button a:focus {
          color: #21d7d1; }
    .main-details.dashboard .list-tabs .desktop-view {
      display: block; }
    .main-details.dashboard .list-tabs .mobile-view {
      display: none; }
  .main-details.dashboard .list-dates .date-item .date {
    width: 86px; }
  .main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list, .main-details.dashboard .list-dates .date-item .description .desc-wrap .mark-complete, .main-details.dashboard .list-dates .date-item .description .desc-wrap .add-date {
    float: right; }
  .main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list {
    margin-top: 0;
    margin-right: 6px;
    position: absolute;
    left: auto;
    right: 10px;
    top: 13px;
    font-size: 12px;
    cursor: pointer; } }

@media (min-width: 992px) {
  .main-details.dashboard.transaction-summary .wrap {
    border-top: solid 3px #ca4544;
    margin-top: 0 !important; } }

@media (min-width: 992px) {
  .main-details.dashboard .wrap {
    margin-top: -134px; }
  .main-details.dashboard .list-tabs {
    padding: 0 80px; }
  .main-details.dashboard .list-dates .date-item .description .desc-wrap {
    font-size: 20px; }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap:hover .mark-complete, .main-details.dashboard .list-dates .date-item .description .desc-wrap:active .mark-complete, .main-details.dashboard .list-dates .date-item .description .desc-wrap:focus .mark-complete {
      opacity: 1;
      visibility: visible; }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap .mark-complete {
      color: #fff;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  .main-details.dashboard .list-dates.w-actions .date-item .date {
    width: 100px; }
    .main-details.dashboard .list-dates.w-actions .date-item .date.due .quote-due {
      font-size: 11px; } }

@media (min-width: 1200px) {
  .main-details.dashboard .container-fluid {
    max-width: 1270px; }
    .main-details.dashboard .container-fluid.docs-alt {
      max-width: 1400px; }
  .main-details.dashboard .tb-layout {
    display: table;
    width: 100%; }
    .main-details.dashboard .tb-layout .tb-item {
      display: table-cell;
      vertical-align: top; }
      .main-details.dashboard .tb-layout .tb-item.right {
        padding-left: 60px;
        width: 460px; }
  .main-details.dashboard .list-dates .date-item {
    margin-bottom: 27px; }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap:hover .action-list li, .main-details.dashboard .list-dates .date-item .description .desc-wrap:active .action-list li, .main-details.dashboard .list-dates .date-item .description .desc-wrap:focus .action-list li {
      opacity: 1;
      visibility: visible; }
    .main-details.dashboard .list-dates .date-item .description .desc-wrap .action-list li {
      opacity: 0;
      visibility: hidden; }
  .main-details.dashboard .list-dates.w-actions .date-item .description .desc-wrap {
    padding-right: 90px; }
  .main-details.dashboard .details-content {
    margin-bottom: 60px; } }

.document-wrapper {
  background-color: #fff;
  border-radius: 8px; }
  .document-wrapper .docs-actions {
    padding: 10px 15px; }
    .document-wrapper .docs-actions > .action-item.docs-search {
      margin-bottom: 15px; }
    .document-wrapper .docs-actions > .action-item.docs-filler {
      display: none; }
  .document-wrapper .docs-sorting {
    padding: 0 5px;
    margin: 0 0 0 auto;
    text-align: right; }
    .document-wrapper .docs-sorting .list-sort {
      margin: 0 -5px;
      list-style: none;
      white-space: nowrap;
      padding-left: 10px; }
      .document-wrapper .docs-sorting .list-sort .sort-item {
        display: inline-block;
        padding: 0 5px; }
        .document-wrapper .docs-sorting .list-sort .sort-item a {
          border-radius: 5px;
          border: 1px solid #eaeaea;
          color: #9b9b9b;
          display: inline-block;
          font-size: 16px;
          line-height: 19px;
          padding: 10px 5px;
          text-align: center;
          width: 50px; }
          .document-wrapper .docs-sorting .list-sort .sort-item a:hover, .document-wrapper .docs-sorting .list-sort .sort-item a:active, .document-wrapper .docs-sorting .list-sort .sort-item a:focus {
            background-color: #21d7d1;
            color: #fff; }

@media (min-width: 576px) {
  .document-wrapper .docs-actions {
    display: table;
    width: 100%; }
    .document-wrapper .docs-actions > .action-item {
      display: table-cell;
      vertical-align: middle; }
      .document-wrapper .docs-actions > .action-item.docs-search {
        margin-bottom: 0; }
      .document-wrapper .docs-actions > .action-item.docs-sorting {
        width: 150px; } }

@media (min-width: 992px) {
  .document-wrapper .docs-actions {
    padding: 25px;
    display: table;
    width: 100%; }
    .document-wrapper .docs-actions > .action-item {
      display: table-cell;
      vertical-align: middle; }
      .document-wrapper .docs-actions > .action-item.docs-search {
        margin-bottom: 0;
        width: 42%; }
      .document-wrapper .docs-actions > .action-item.docs-sorting {
        width: 29%; }
      .document-wrapper .docs-actions > .action-item.docs-filler {
        display: table-cell;
        width: 29%; } }

.document-listing {
  padding: 10px 15px; }
  .document-listing .complete {
    color: #1fca3b; }
  .document-listing .incomplete {
    color: #ca4544; }
  .document-listing .table-wrap {
    overflow: auto;
    max-width: 100%; }
    .document-listing .table-wrap .table {
      margin-bottom: 0; }
    .document-listing .table-wrap .docs-item .item {
      color: #000;
      display: table-cell;
      font-size: 14px;
      padding: 10px 15px;
      vertical-align: middle;
      white-space: nowrap;
      border: none; }
      .document-listing .table-wrap .docs-item .item.status {
        font-weight: bold; }
      .document-listing .table-wrap .docs-item .item.dropdwn {
        color: #21d7d1; }
  .document-listing .accordions .accordion-target {
    margin-top: 0;
    padding-bottom: 30px; }

.docs-search-wrap {
  position: relative; }
  .docs-search-wrap .search-input {
    border: 1px solid #a3a3a3;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    width: 100%; }
  .docs-search-wrap .search-submit, .docs-search-wrap .upload-transaction-document {
    background-color: transparent;
    border: none;
    color: #21d7d1;
    font-size: 16px;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0; }
  .docs-search-wrap .search-submit:hover, .docs-search-wrap .search-submit:active, .docs-search-wrap .search-submit:focus {
    color: #ca4544; }

@media (min-width: 992px) {
  .document-listing {
    padding: 10px 50px; }
    .document-listing .table-wrap .docs-item .item {
      font-size: 14px;
      padding: 10px 10px;
      line-height: 30px; }
      .document-listing .table-wrap .docs-item .item.title {
        width: 200px;
        padding-left: 25px; }
  .docs-search-wrap .search-input {
    font-size: 14px;
    padding: 15px 42px 15px 20px; }
  .docs-search-wrap .search-submit {
    padding: 10px 10px;
    font-size: 20px; } }

@media (min-width: 1200px) {
  .document-listing {
    padding: 0 50px 20px; }
    .document-listing .table-wrap .docs-item .item {
      font-size: 17px;
      padding: 15px 15px;
      line-height: 30px; } }

@media (min-width: 1400px) {
  .document-listing {
    padding: 0 50px 20px; }
    .document-listing .table-wrap .docs-item .item.status, .document-listing .table-wrap .docs-item .item.upload {
      text-align: right;
      padding: 0 30px; }
    .document-listing .table-wrap .docs-item .item.dropdwn {
      text-align: right;
      padding: 0 15px; } }

.accordions .acc-title {
  color: #21d7d1;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 2em; }

.accordions .accordion-item + .accordion-item {
  border-top: 1px solid #eaeaea; }

.accordions .accordion-item.active .accordion-trigger:after {
  content: '\F068'; }

.accordions .accordion-target {
  display: none;
  margin-top: 15px; }

.accordions .accordion-trigger {
  cursor: pointer;
  padding: 0 26px 0 0;
  position: relative; }
  .accordions .accordion-trigger:after {
    content: '\f0d7';
    color: #21d7d1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 9px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .accordions .accordion-trigger:hover:after, .accordions .accordion-trigger:hover .acc-title {
    color: #ca4544; }
  .accordions .accordion-trigger:active:after, .accordions .accordion-trigger:active .acc-title {
    color: #ca4544; }
  .accordions .accordion-trigger:focus:after, .accordions .accordion-trigger:focus .acc-title {
    color: #ca4544; }

@media (min-width: 768px) {
  .accordions .acc-title {
    font-size: 20px;
    padding: 14px 0; } }

/***************** Styling For SnapNHD **********************/
.report-modal-class .modal-dialog {
  width: 700px !important; }

.snapNHDContainer {
  width: 600px !important; }

.order-report {
  font-size: 15px;
  background: #e4e4e4;
  color: rgba(86, 86, 86, 0.8);
  height: 40px;
  line-height: 5px; }

.reportbuttons button {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.plan {
  position: relative;
  border: solid 1px #ccc;
  border-radius: 5px; }

.modal-backdrop.in {
  z-index: auto; }

.exit-modal {
  background: #ca4544 !important; }

/* Styling for Data Table */
table.dataTable thead th {
  border-bottom: none !important; }

/****** Sweet Alert 2 ******/
.swal2-popup {
  font-size: 1.6rem !important;
  /* This is slightly experimental as I am trying to upgrade from Swal1 to Swal2 */ }

/**** START STYLE.CSS *****/
.content-style-test-test {
  width: 100%;
  float: left; }

.add-new-transaction-title h1 {
  font-size: 21px;
  margin-top: 30px;
  line-height: 22px;
  color: black; }

.div-address-search {
  text-align: center;
  margin-top: 50px; }
  .div-address-search .location-icon {
    width: 16px;
    height: 24px;
    float: left;
    margin-right: 1px; }
  .div-address-search .address-search {
    font-size: 20px;
    line-height: 22px;
    color: #e4e4e4;
    float: left;
    border: 0;
    background-color: #F9F9F9;
    width: 90%;
    font-weight: 100;
    padding: 3px 5px; }
    .div-address-search .address-search:focus {
      outline: none;
      border-bottom: 1px solid #21d7d1; }

.two-by-two, .two-by-two-white {
  margin-top: 40px;
  overflow: hidden; }

.two-by-two div .red, .two-by-two div .blue {
  height: 309px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  text-align: center;
  display: table; }

.two-by-two-white div .white {
  height: 309px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  text-align: center;
  display: table; }

.two-by-two div .blue {
  background-image: linear-gradient(0deg, #17d8d1 0%, #01bdb7 100%); }

.two-by-two div .red {
  background-image: linear-gradient(0deg, #cd6563 0%, #cb4949 100%); }

.one-by-one div .red {
  background-image: linear-gradient(0deg, #cd6563 0%, #cb4949 100%); }

.two-by-two-white div .white {
  background-image: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%); }

.two-by-two div .red-blue-2, .two-by-two-white div .white {
  margin-top: 10px; }

.two-by-two div .red-blue-2 .img, .two-by-two-white div .white .img {
  background-image: url("../images/Layer 6.png");
  height: 231px;
  width: 144px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  top: 20px; }

.two-by-two div .red-blue-2 .transaction-placeholder, .one-by-one div .red-blue-4 .transaction-placeholder, .one-by-one-white div .white .transaction-placeholder {
  vertical-align: middle;
  display: table-cell; }

.two-by-two div .red-blue-2 .transaction-placeholder h4, .one-by-one div .red-blue-4 .transaction-placeholder h4 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: -13px; }

.two-by-two div .red-blue-2 .transaction-placeholder h2 {
  color: white;
  font-weight: 100;
  font-family: "Montserrat", sans-serif; }

/* ########################## four by four */
.one-by-one div .red {
  height: 156px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  text-align: center;
  display: table;
  cursor: pointer; }

.one-by-one div .blue {
  height: 156px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(0deg, #17d8d1 0%, #01bdb7 100%);
  text-align: center;
  display: table;
  cursor: pointer; }

.one-by-one div .red-blue-4 {
  margin-top: 20px; }
  .one-by-one div .red-blue-4 .img {
    background-image: url("../images/Layer 3 copy 2.png");
    height: 131px;
    width: 82px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    top: 20px; }
  .one-by-one div .red-blue-4 .transaction-placeholder h2 {
    color: white;
    font-size: 20px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif; }

/* ######################### one-by-one-while */
.one-by-one-white div .white {
  height: 156px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  background-color: white;
  text-align: center;
  display: table;
  margin-top: 20px;
  cursor: pointer; }
  .one-by-one-white div .white .img {
    background-image: url("../images/Layer 3 copy 2.png");
    height: 131px;
    width: 82px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    top: 20px; }
  .one-by-one-white div .white .transaction-placeholder h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: center; }

.transaction-placeholder-role h4 {
  font-weight: 500 !important;
  font-size: 15px !important;
  width: 50%;
  margin: auto; }

.transaction-placeholder-add-text {
  margin-bottom: -13px; }

.footer {
  margin: 70px 0 20px 0; }
  .footer .left, .footer .right {
    float: left; }
  .footer .img {
    background-image: url("../images/logo.png");
    height: 32px;
    width: 21px;
    margin-right: 10px; }
  .footer .right .copy p {
    font-size: 11px;
    line-height: 22px;
    color: #717171;
    font-weight: bold; }
  .footer .right .links a {
    font-size: 11px;
    line-height: 22px;
    color: #717171;
    font-weight: bold;
    margin-right: 5px; }

/* ############################################### step2 edit transaction */
.two-by-two-white div .white {
  padding-left: 30px; }
  .two-by-two-white div .white .transaction-details .info {
    margin-top: 25px;
    overflow: hidden; }
    .two-by-two-white div .white .transaction-details .info .purchase-price span, .two-by-two-white div .white .transaction-details .info .contract-date span {
      font-size: 12px;
      line-height: 26px;
      color: #03c0b9;
      font-weight: bold;
      font-family: "Open Sans", sans-serif; }
  .two-by-two-white div .white .property-details .info .data span {
    font-size: 12px;
    line-height: 26px;
    color: #03c0b9;
    font-weight: bold;
    font-family: "Open Sans", sans-serif; }
  .two-by-two-white div .white .transaction-details .info .purchase-price h1 {
    font-size: 30px;
    line-height: 26px;
    color: black;
    font-family: "open sans", sans-serif;
    font-weight: 300; }
  .two-by-two-white div .white .transaction-details .info .contract-date h6 {
    font-size: 14px;
    line-height: 50px;
    color: black;
    font-family: "open sans",sans-serif;
    font-weight: 900;
    margin-top: -20px; }
  .two-by-two-white div .white .property-details .info .data h6 {
    font-size: 14px;
    line-height: 50px;
    color: black;
    font-family: "open sans",sans-serif;
    font-weight: 900;
    margin-top: -20px; }
  .two-by-two-white div .white .property-details .info .address h6 {
    line-height: 20px;
    margin-top: 5px; }
  .two-by-two-white div .white .transaction-details .info a {
    font-size: 14px;
    color: #cd6564;
    font-family: "open sans",sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 40px;
    bottom: 5px; }
  .two-by-two-white div .white .property-details .info a {
    font-size: 14px;
    color: #cd6564;
    font-family: "open sans",sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 40px;
    bottom: 5px; }
  .two-by-two-white div .white .property-details .info .data:nth-child(4) h6:nth-child(2) {
    margin-top: -38px; }
  .two-by-two-white div .white .property-details .info .data:nth-child(4) h6:nth-child(1) {
    margin-top: -5px; }

/* ################################## .one-by-one in the show data */
.one-by-one div .red-blue-4 .transaction-info h3 {
  font-size: 18px;
  color: white;
  font-family: "Open Sans",sans-serif;
  text-align: left; }

.one-by-one-white div .white .transaction-info h3 {
  font-size: 18px;
  margin-bottom: 17px;
  color: black;
  font-family: "Open Sans",sans-serif; }

.one-by-one div .red-blue-4 .transaction-info h4 {
  font-size: 16px;
  line-height: 23px;
  color: white;
  font-family: "Open Sans",sans-serif; }

.one-by-one-white div .white .transaction-info h4 {
  font-size: 14px;
  color: black;
  font-family: "Open Sans",sans-serif; }

.one-by-one div .red-blue-4 .transaction-info h5 {
  font-size: 12px;
  line-height: 12px;
  color: white;
  font-family: "Open Sans",sans-serif; }

.one-by-one-white div .white .transaction-info h5 {
  font-size: 12px;
  line-height: 14px;
  color: black;
  font-family: "Open Sans",sans-serif; }

.one-by-one div .red-blue-4 .transaction-info .hrefs a {
  font-size: 12px;
  color: white;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  text-align: center; }

.one-by-one div .red-blue-4 .transaction-info .hrefs .info {
  position: absolute;
  right: 15px;
  bottom: 10px; }

.one-by-one div .red-blue-4 .transaction-info .hrefs .view {
  position: absolute;
  left: 15px;
  bottom: 10px; }

.one-by-one-white div .white .transaction-info .hrefs .info {
  position: absolute;
  right: 15px;
  bottom: 20px; }

.one-by-one-white div .white .transaction-info .hrefs .view {
  position: absolute;
  left: 15px;
  bottom: 20px; }

.one-by-one-white div .white .transaction-info .hrefs a {
  font-size: 12px;
  color: #cb4f4e;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center; }

.one-by-one-white div .white .coordinator h4 {
  margin: 3px 0;
  font-size: 12px;
  margin-left: 4px; }

.one-by-one-white div .white .coordinator h3 {
  margin-bottom: 10px; }

/* ################################################################### Transaction details :-moz-user-disabled */
.modal-body .header {
  margin-bottom: 40px;
  overflow: hidden; }
  .modal-body .header h1 {
    font-size: 20px;
    line-height: 22px;
    color: black;
    font-family: "Open Sans",sans-serif;
    font-weight: 300; }

.model-step .input-data .the-input {
  width: 90%;
  /* display: inline; */
  float: left; }

.model-step .input-data .input-and-image .red-bottom {
  border-bottom: 1px solid #ca4544;
  overflow: hidden; }

.model-step .input-data .the-input input {
  width: 100%;
  height: 20px;
  outline: 0;
  border: 0; }

.model-step .input-data .img {
  background-repeat: no-repeat;
  float: left;
  height: 16px;
  width: 10px;
  margin-right: 5px;
  transform: translate(0%, 39%); }

.model-step .input-lable h6 {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.seller-rent {
  margin-top: 20px; }
  .seller-rent h6 {
    font-size: 18px;
    line-height: 22px;
    color: black;
    font-family: "Open Sans",sans-serif;
    font-weight: 300; }

.check-box-section .o-radio-container {
  float: left !important;
  margin-left: 0; }

.right-arrow {
  height: 17px;
  width: 10px;
  position: absolute;
  right: 22px;
  top: 19px; }

.the-next-model, .the-next-model-b-s {
  position: relative;
  width: 146px;
  height: 58px;
  border-radius: 6px;
  background-color: #21d7d1;
  font-size: 12px;
  line-height: 22px;
  color: white;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  padding-left: 20px;
  outline: 0;
  border: 1px solid #21d7d1;
  margin-left: 15px;
  margin-top: 50px; }

/* ######################################################## STEP 2 */
.add-note-a h6 {
  font-size: 11px;
  line-height: 22px;
  color: #ca4544;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-top: 35px; }

.the-previous-model {
  font-size: 12px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: bold; }

.sale-conti {
  margin-bottom: 30px; }
  .sale-conti h4 {
    font-size: 18px;
    line-height: 22px;
    color: black;
    font-family: "Open Sans",sans-serif;
    font-weight: bold; }

.modal-content {
  overflow: hidden; }

.blue-ball {
  height: 9px;
  width: 9px;
  float: left;
  margin: auto;
  transform: translate(-50%, 100%); }

.next-continue-btn {
  width: 188px;
  height: 59px; }

.save-exit-button {
  position: relative;
  width: 146px;
  height: 58px;
  border-radius: 6px;
  background-color: #ca4544;
  font-size: 12px;
  line-height: 22px;
  color: white;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  padding-left: 20px;
  outline: 0;
  border: 1px solid #c94949;
  margin-left: 15px;
  margin-top: 50px; }

.o-select {
  width: 100%; }

.save-exit-button-td {
  position: relative;
  width: 146px;
  height: 58px;
  border-radius: 6px;
  background-color: #ca4544;
  font-size: 12px;
  line-height: 22px;
  color: white;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  padding-left: 20px;
  outline: 0;
  border: 1px solid #c94949;
  margin-left: 15px;
  margin-top: 50px; }

/* ################################################# ANKUSH DESIGN */
.address-field {
  display: inline;
  width: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ca4544;
  outline: none;
  padding-left: 10px;
  padding-right: 10px; }

.show-notes {
  display: block !important; }

.text-field {
  display: inline;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ca4544;
  outline: none;
  padding-left: 10px;
  padding-right: 10px; }

.modal-content {
  padding: 20px; }

.modal-label {
  padding-left: 0;
  padding-right: 0; }

.address-label {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: 300; }

.modal-label {
  font-size: 12px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-weight: bold; }

.o-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 16px;
  background-color: white;
  border: none;
  background: url("../images/icons/dropdown.png") no-repeat 98% center;
  background-size: 20px 20px;
  border-bottom: 1px solid #cd6563;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  padding-left: 10px; }
  .o-select::before {
    content: "\f107";
    font-family: "FontAwesome";
    color: black;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: -1;
    pointer-events: none; }

.field-row {
  margin-bottom: 20px; }

.o-radio-container {
  display: inline;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  font-weight: 600;
  margin: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 10px;
  border-radius: 5px; }

.o-radio-container input {
  display: none;
  opacity: 0; }

.o-radio-container i {
  font-size: 14px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(-50%, -50%); }

.field-row-2 {
  margin-top: 50px; }

.intro .line-pa .blue-black h3 {
  font-size: 12px;
  color: #21d7d1;
  font-family: "Open Sans",sans-serif;
  font-weight: bold; }

.intro .line-pa .blue-black h6 {
  font-size: 12px;
  color: black;
  font-family: "Open Sans",sans-serif;
  font-style: italic; }

.intro .line-pa .blue-black h4 {
  font-size: 18px;
  color: black;
  font-family: "Open Sans",sans-serif; }

.intro .title h1 {
  font-size: 18px;
  color: black;
  font-family: "Open Sans",sans-serif; }

.intro .line-pa a {
  width: 110px;
  height: 46px;
  border-radius: 6px;
  background-color: #ca4544;
  font-size: 12px;
  color: white;
  font-family: "Open Sans",sans-serif;
  border: 16px solid #cb4f4d; }

@media (min-width: 992px) {
  .modal-lg {
    width: 1041px; } }

.height-30 {
  height: 30px; }

.the-previous-model {
  cursor: pointer; }

.padding-left-0 {
  padding-left: 0; }

.line-NB .label-control {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.add-note {
  font-size: 12px;
  line-height: 22px;
  color: #ca4544;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.tall-button {
  width: 214px; }

.line-NB {
  margin-top: 20px; }

.save-buyer-seller-btn {
  position: relative;
  width: 96px;
  height: 58px;
  border-radius: 6px;
  background-color: #21d7d1;
  font-size: 12px;
  line-height: 22px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-left: 20px;
  outline: 0;
  border: 1px solid #21d7d1;
  margin-left: 15px;
  margin-top: 50px; }

.modal-content .dim {
  display: none; }
  .modal-content .dim:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 1; }

/* #################################### print invoice */
.container-inv {
  width: 816px;
  margin: auto;
  background-color: #FFFFFF;
  overflow: hidden;
  padding-left: 0.75in;
  padding-right: 0.75in;
  padding-top: .5in;
  padding-bottom: 200px; }
  .container-inv .title-div {
    margin-top: 50px; }
    .container-inv .title-div .left-div .title .context {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900; }
    .container-inv .title-div .left-div .title .image {
      height: 37px;
      width: 209px;
      background-size: cover;
      background-repeat: no-repeat; }
    .container-inv .title-div .left-div .address {
      margin-top: 20px;
      font-weight: bolder; }
    .container-inv .title-div .left-div .bill-to {
      margin-top: 30px; }
    .container-inv .title-div .right-div {
      margin-top: 20px; }
      .container-inv .title-div .right-div .balance-due {
        background-color: #D3D3D3;
        overflow: hidden; }
        .container-inv .title-div .right-div .balance-due .panel-due {
          font-size: 13px;
          margin-top: 3px;
          font-weight: 700; }
        .container-inv .title-div .right-div .balance-due .data {
          font-size: 20px; }

.table thead td {
  background-color: #474747 !important;
  color: white !important; }

.table tr {
  border-bottom: .5px solid #474747; }

.container-inv .items {
  margin-top: 60px; }
  .container-inv .items .table tr td:first-child {
    border-radius: 10px 0 0 10px; }
  .container-inv .items .table tr td:last-child {
    border-radius: 0 10px 10px 0; }

.container-inv table thead {
  height: 20px; }
  .container-inv table thead td:first-child {
    width: 60%; }

.container-inv .total-sub-total {
  float: right;
  width: 40%;
  margin-top: 60px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.container-inv .Terms, .container-inv .Notes {
  margin-top: 40px; }

.container-inv .items .headre-inv-table {
  background-color: #474747;
  overflow: hidden;
  color: white;
  padding: 4px;
  border-radius: 4px; }

.container-inv .items .item {
  width: 55%;
  float: left; }

.container-inv .items .Quantity, .container-inv .items .Rate, .container-inv .items .Amount {
  width: 13%;
  float: left; }

.container-inv .items .item-line {
  padding: 4px;
  border-bottom: 1px solid #474747;
  overflow: hidden; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

span.upper-case {
  text-transform: uppercase; }

/* date input (working on chrome) */
input[type=date]::-webkit-calendar-picker-indicator {
  background: url(https://upload.wikimedia.org/wikipedia/commons/6/69/Calendar_font_awesome.svg) no-repeat;
  border-width: thin;
  color: rgba(0, 0, 0, 0);
  display: block;
  height: 16px;
  width: 16px;
  opacity: 1; }

input[type=date]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none; }
