@media screen{

	@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
	html,
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	}
	body{
		background: #f4f4f4;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 14px;
		@media (min-width: 1200px) {
			font-size: 16px;
		}
		a,button,.btn{
			-webkit-transition: all 0.7s ease;
			-moz-transition: all 0.7s ease;
			-ms-transition: all 0.7s ease;
			-o-transition: all 0.7s ease;
			transition: all 0.7s ease;
			&:hover{
				text-decoration: none;
			}
		}
	}


	h1,h2,h3,h4,h5,h6{

	}


	.btn{
		background: #222222;
		color: $white;
		border-radius: 0;
		line-height: 1em;
		padding: 15px 45px;
		font-size: 0.875em;
		text-decoration: none;
		border-radius: 5px;
		&:hover{
			background: $black;
			color: $white;
		}
		&.green{
			background: green;
			&:hover{
				background: $black;
				color: $white;
			}
		}
		&.red{
			background: $red;
			&:hover{
				background: $black;
				color: $white;
			}
		}
		&.red-transparent{
			background: transparent;
			border: 2px solid $red;
			color: #7F7F7F;
			&:hover{
				background: $red;
				color: $white;
			}
		}
		&.gray{
			background: $gray;
			color: $black;
			&:hover{
				background: $black;
				color: $white;
			}
		}
		&.white{
			background: $white;
			color: #7F7F7F;
			&:hover{
				background: $black;
				color: $white;
			}
		}
		&.light-green{
			background: #21d7d1;
			color: #FFF;
			&:hover{
				background: $black;
				color: $white;
			}
		}
		&.mid-red{
			background: #cd6564;
			color: #FFF;
			&:hover{
				background: $black;
				color: $white;
			}
		}
	}


	#header{
		background: #fff;
		padding: 25px 0;
		box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
		position: relative;
		z-index: 2;
		.header-wrapper{
			text-align: center;

			@media (min-width: 992px) {
				.header-items{
					display: table;
					width: 100%;
					& > .item{
						display: table-cell;
						text-align: left;
						
						&:last-child{
							text-align: right;
						}
					}
				}
			}

		}
		.logo{
			display: inline-block;
			margin-bottom: 10px;
			@media (min-width: 992px) {
				margin-bottom: 0;
			}
		}
		.user-info{
			color: $black;
			text-decoration: none;
			&:hover{
				color: $blue1;
			}
			.name,.avatar{
				display: inline-block;
				vertical-align: middle;
			}
			.name{
				font-size: 0.875em;	
				margin-right:10px;
			}
			.avatar{
				width: 30px;
				img{
					width: 30px;
					border-radius: 50%;
				}
			}
		}
		.settings-links{
			.item{
				&.search,
				&.uinfo{
					display: none;
				}
			}
			@media (min-width: 992px) {
				& > .item{
					display: inline-block;
					vertical-align: middle;
					padding-left: 20px;
					&.search,
					&.uinfo{
						display: inline-block;

					}
				}
			}
		}
		.quicklinks{
			@media (min-width: 992px) {
				border-left: 1px solid #d5d5d5;
				padding-left: 20px;
			}
			.item{
				display: inline-block;
				font-size: 1.625em;
				margin: 0 4px;
				line-height: 1em;
				a{
					color: $black;
					width: 26px;
					height: 26px;
					display: inline-block;
					vertical-align: middle;
					line-height: 1em;
					border: 1px solid;
					padding: 5px;
					border-radius: 50%;
					font-size: 13px;
					text-align: center;
					position: relative;
					&:hover{
						color: $blue1;
					}
					
				}
				&.no-border{
					a{
						font-size: 23px;
						border: none;
						padding: 2px 0;

					}
				}
				.count{
					position: absolute;
					top: 0;
					color: $white;
					background: $red;
					top: -6px;
					border-radius: 50%;
					padding: 2px 0 0 0;
					width: 17px;
					height: 17px;
					line-height: 1em;
					text-align: center;
					right: -7px;
					font-size: 11px;
				}

				@media (min-width: 992px) {
					&.hide-desktop{
						display: none;
					}

				}
			}
		}

		form.search{
			margin: 0;
			width: 230px;
			.form-group{
				position: relative;
				margin: 0;
				&:after{
					content: '\F002';
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					position: absolute;
					top: 50%;
					margin-top: -11px;
					right: 10px;
					padding-left: 10px;
					color: #d5d5d5;
					border-left: 1px solid #d5d5d5;
				}
				.form-control{
					border-radius: 0;
					border:1px solid #d5d5d5;
					text-align: left;
					font-size: 0.750em;
				}
			}
		}
	}

	#footer{
		padding: 20px 0;
		background: #253138;
		color: #fff;
		text-align: center;
		left: 0;
		right: 0;
		bottom: 0;
		

		.copyright{
			font-size: 0.875em;	
			margin-bottom: 20px;
		}
		.logo-wrapper{
			margin-bottom: 20px;
		}
		.social-list,
		.quicklinks-list{
			font-size: 1em;
			margin-bottom: 20px;
			.item{
				display: inline-block;
				vertical-align: middle;
				margin: 0 8px;
			}
			a{
				color: #fff;
				&:hover{
					color: $red;
				}
			}
		}
		.quicklinks-list{
			font-size: 0.750em;
			margin-bottom: 0;
		}

		@media (min-width: 992px){
			text-align: left;
			.footer-wrapper{
				display: table;
				width: 100%;
				.footer-items{
					display: table-cell;
					vertical-align: middle;
					width: 33.33%;
					&:nth-child(2){
						text-align: center;
					}
					&:last-child{
						text-align: right;
					}
				}
			}
			.copyright{
				margin-bottom: 0;
			}
			.logo-wrapper{
				margin-bottom: 0;
			}
			.social-list{			
				margin-bottom: 15px;
			}
		}
		
	}

	.table-responsive{
		border: none;
	}
	.table{
		font-size: 0.750em;
		border-collapse: separate;
		border-spacing: 0 10px;
		margin: 0;

		td{
			background: #f4f4f4;
			color: $black;
			vertical-align: middle;
			text-align: center;
			padding: 13px 5px;
			line-height: 1em;
			border-right: 1px solid #ebebec;
			border-top:none;
			&:first-child{
				width:1%;
				white-space:nowrap;
			}
			&:last-child{
				text-align: right;
				border-right: 0;
				padding-right: 15px;
				width:1%;
				white-space:nowrap;
			}
			&.ctrls{
				padding: 0;
				.btn{
					padding: 15px;
					border-radius: 0;
				}
			}
		}
		th{
			text-align: center;
			vertical-align: top;
			color: #8c9194;
			font-weight: 400;
			border-bottom: 0;
			padding-bottom: 0;
			vertical-align: middle;
			&:first-child{
				text-align: left;
				width:1%;
				white-space:nowrap;
			}
			&:last-child{
				padding-right: 15px;
				width:1%;
				white-space:nowrap;
			}
		}

	}


	
}


// @media (min-width: 768px) {  }

// @media (min-width: 992px) {  }

// @media (min-width: 1200px) {  }