/******* Documents *********/

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.timeline-hide-toggle {
  color: teal !important;
  cursor: pointer;
  display: none
}

.timeline-show-completed {
  cursor: pointer;
  text-align: center;
  font-size: 17px !important;
}

.timeline_completed {
  display: none
}

.desc-wrap:hover {
  cursor: pointer
}

.desc-wrap-completed:hover {
  background-color: #e85c5c !important;
  cursor: pointer
}

.timeline-past-due {
  color: red !important;
  font-weight: 600
}

.completed-milestone-h3 {
  color: #21d7d1 !important;
}

.link-active {
  color: #D52A39;
}

.table .description {
  text-align: left;
}

.o-red {
  color: #D7293A;
}

.o-green {
  color: #30A600;
}

.table .upload a {
  color: #333;
}

table {
  border-collapse: separate;
}

.bag-row td {
  background-color: white;
}

.bag-row {
  border: solid 1px grey
}

.bag-row td {
  text-align: left;
  width: 100%;
}

.bag-row td {
  border-top: 1px solid grey !important
}

.bag-row td {
  border-bottom: 1px solid grey !important
}

.bag-row td:first-child {
  border-top-left-radius: 10px;
  border-left: 1px solid grey !important
}

.bag-row td:last-child {
  border-top-right-radius: 10px;
  border-right: 1px solid grey !important
}

.bag-row td:first-child {
  border-bottom-left-radius: 10px;
}

.bag-row td:last-child {
  text-align: left;
  border-bottom-right-radius: 10px;
}

.acc-title {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 17px;
  text-transform: uppercase;
  color: $teal;
  font-weight: bold;
}

.docs-item td {
  background-color: white !important
}
.fa-cloud-upload-alt{
  cursor: pointer;
}