/********** Key People *********/

.people-icon {
  cursor: pointer;
}

.kp-detail {
  padding-left: 15px;
}

.keyperson-container {
  padding: 20px;
  padding-left: 25px;
  font-size: 20px;
}

.keyperson-modal {
  width: 400px;
  background: red;
}

.inner_span{
  text-align: left;
  float: right;
  width: 50%;
}

.add-person{
  font-weight: 600;
  text-decoration: underline;
}