/******* Transaction List *****/

.search-text{
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #01bdb7;
  outline: none;
  padding-left:20px;
  padding-right:20px;
  position: relative;
}
.search-text:focus{
  border-top: none !important;
  border-left: none;
  border-right: none;
}
.search-bar{
  position: relative;
}
.main-content{
  background-color: white;
}
.search_query{
  border: none;
  margin-bottom: 5px;
}
.search_query:focus{
  border: none;
  outline: none;
}
.address-col{
  text-align: left !important;
  padding:10px;
}
.client-name-col{
  text-align: left !important;
  padding: 10px;
}

.transaction-list-dropdown-menu{
  a:hover{
      text-decoration: underline;
  }
}